.left {
  margin-top: 10%;
}

.wd-browsing-product-carousel {
  font-family: "Raleway", sans-serif;

  .wd-product-list {
    ul {
      li {
        .media .espiar:hover {
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
        }

        .media {
          .floating-actions {
            button {
              &.espiar {
                margin-bottom: 10px;
                width: 210px;
                height: 30px;
                font-size: 0;
                background: #f2f2f2 !important;
                box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.9) !important;

                &::before {
                  content: "Quick Shop";
                  text-transform: uppercase;
                  display: block;
                  font-family: Lato;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  font-size: 11px;
                  text-align: center;
                  letter-spacing: 0.04em;
                  text-transform: uppercase;

                  color: #000000;
                }
              }
            }

            a {
              &.btn-add-product-wishlist {
                background-color: white;
                display: none;
                width: 35px;
                height: 35px;
                background-image: none;
                right: 11px;

                i {
                  color: black;
                }

                &:after {
                  content: "";
                  display: block !important;
                  background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/icon-wishlist.png?asid) !important;
                  background-position: 0 0 !important;
                  background-repeat: no-repeat;
                  background-size: 100%;
                  left: 10px !important;
                  top: 11px !important;
                  position: absolute !important;
                  width: 16px !important;
                  height: 14px !important;
                }

                &:hover {
                  background-color: #e6e6e6;
                }
              }
            }
          }
        }
      }
    }
  }
}

[class*="context-search-"],
.grid-products,
[class*="context-facet-"],
[class*="context-list-"] {
  #content-wrapper {
    background: #f6f6f6;
  }

  .wd-product-line-medias.wd-product-line-medias-variations.wd-widget-js {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;


    .media-variation-list.pages.noselect.variation-type.variation-type-cor {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: row;
    }

    a.variation-item.selected {
      border: 1px solid rgb(167, 167, 167) !important;
      border-radius: 100%;
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }

    a.variation-item {
      border: 1px solid #dfdfdf !important;
      border-radius: 100%;
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }

    .thumb {
      border-radius: 100% !important;
      width: 10px;
      height: 10px;
    }

    .variation-item {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: row;
    }
  }

  .header-grid {}
}


[class*="context-category-"] {
  .banners-topo {
    .col-lg-6 {
      padding: 0px;
    }

    img {
      width: auto !important;
      height: auto !important;
    }

  }

  .wd-product-line-medias .variation {
    overflow: visible !important;
  }

  #middle {
    background: #f6f6f6;
  }

  .wd-product-line-medias.wd-product-line-medias-variations.wd-widget-js {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;

    .media-variation-list.pages.noselect.variation-type.variation-type-cor {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: row;
    }

    a.variation-item.selected {
      border: 1px solid rgb(167, 167, 167) !important;
      border-radius: 100%;
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }

    a.variation-item {
      border: 1px solid #dfdfdf !important;
      border-radius: 100%;
      width: 18px;
      height: 18px;
      margin-right: 10px;
      margin-left: 10px;
    }

    .thumb {
      border-radius: 100% !important;
      width: 10px;
      height: 10px;
    }

    .variation-item {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: row;
    }

  }

  [class*="grid-"] {
    #content-wrapper {
      .header-grid {
        height: 110px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-direction: row;
        padding-left: 13%;
        padding-right: 13%;
        padding-bottom: 5%;

        .select-grid {
          padding-top: 0px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .select-grid .three-columns span {
          width: 9.3px;
          height: 15px;
          display: block;
          float: left;
          margin-right: 5px;
          background: rgba(0, 0, 0, 0.2);
        }

        .select-grid .three-columns span:last-of-type {
          margin-right: 20px;
        }

        .select-grid .two-columns span {
          width: 9.3px;
          height: 15px;
          display: block;
          float: left;
          margin-right: 5px;
          background: rgba(0, 0, 0, 0.2);
        }

        .select-grid .three-columns.selected span {
          background: #000000;
        }

        .select-grid .two-columns.selected span {
          background: #000000;
        }

        .wd-browsing-grid-sorter {
          position: relative;

          >span {
            display: none;
          }

          select {
            width: 260px;
          }
        }

        .wd-browsing-grid-pager {
          .page-number {
            display: none;
          }
        }

        h1 {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 20px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #999999;
          text-align: left;
          padding-left: 0px;
        }

        .page-count {
          font-family: Lato;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          font-size: 14px;
          text-align: center;
          letter-spacing: 0.02em;
          color: #000000;
        }
      }
    }
  }

  #content {
    margin-top: 150px !important;
  }

  .breadcrumb {
    padding-left: 0px;
    padding-top: 27px;
    padding-bottom: 28px;
    border-bottom: 0px;
    max-width: 1180px;
    margin: 0 auto;

    .wd-browsing-breadcrumbs {
      padding: 0px;

      li a,
      .last {
        text-decoration: none !important;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        line-height: 15px;
        font-size: 11px;
        letter-spacing: 0.02em;
        color: #999999;
        max-width: 190px;
        word-wrap: break-word;
      }
    }
  }
}

[class*="grid-"] {
  #content-wrapper {
    .header-grid {
      height: 110px;
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-direction: row;
      padding-left: 13%;
      padding-right: 13%;

      .select-grid {
        padding: 0px;
      }

      h6,
      a {
        font-family: Lato !important;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        letter-spacing: 0.02em;

        color: #000000;
      }

      .select-grid .three-columns span {
        width: 9.3px;
        height: 15px;
        display: block;
        float: left;
        margin-right: 5px;
        background: rgba(0, 0, 0, 0.2);
      }

      .select-grid .three-columns span:last-of-type {
        margin-right: 20px;
      }

      .select-grid .two-columns span {
        width: 9.3px;
        height: 15px;
        display: block;
        float: left;
        margin-right: 5px;
        background: rgba(0, 0, 0, 0.2);
      }

      .select-grid .three-columns.selected span {
        background: #000000;
      }

      .select-grid .two-columns.selected span {
        background: #000000;
      }

      .wd-browsing-grid-sorter {
        position: relative;

        >span {
          display: none;
        }

        select {
          width: 260px;
        }
      }

      .wd-browsing-grid-pager {
        .page-number {
          display: none;
        }
      }

      h1 {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 20px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #999999;
        text-align: left;
        padding-left: 0px;
      }

      .shopby {
        margin-bottom: 20px;

        h6 .magic-days {
          color: #44bdd7;
        }
      }

      .option-title {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        letter-spacing: 0.02em;

        color: #000000;
      }

      .page-count {
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #000000;
      }
    }

    .page-description {
      margin-bottom: 20px;

      .wrapper {
        display: flex;

        .col-lg-8 {
          padding: 0;
        }

        @media screen and(max-width: 768px) {
          flex-direction: column;

          .col-lg-8 {
            padding: 0 15px;
          }
        }

        .text-category {
          text-align: left;

          h1 {
            font-family: Raleway;
            line-height: 53px;
            font-weight: 900;
            font-size: 50px;
            margin-top: 60px;
            text-align: left;
          }

          p {
            span {
              font-family: Raleway;
              font-weight: 500;
              line-height: 20px;
              font-size: 13px !important;
              color: black;
            }
          }
        }

        #botao-menos-banners {
          @media screen and(max-width: 1024px) {
            display: none;
          }

          span {
            background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/arrow-banner.svg);
            background-repeat: no-repeat;
            background-size: 40%;
            height: 22px;
            display: block;
            font-size: 0;
            margin: 0 auto;
            width: 30px;
            position: absolute;
            top: 94.1%;
            left: -60px;
          }
        }

        #botao-mais-banners {
          @media screen and(max-width: 1024px) {
            display: none;
          }

          span {
            background-image: url(/custom/content/themes/Shared/Assets/johnjohn/Images/arrow-banner.svg);
            background-repeat: no-repeat;
            transform: rotate(180deg);
            background-size: 40%;
            height: 22px;
            display: block;
            font-size: 0;
            margin: 0 auto;
            width: 30px;
            position: absolute;
            top: 94%;
            left: -40px;
          }
        }

        ul {
          &.slider-controller {
            display: none !important;
          }
        }
      }
    }

    .listagem-conteudo {
      display: flex;
      margin-top: 0px;
      width: 100% !important;

      .left {
        @media screen and(max-width: 768px) {
          width: 0;
        }

        width: 293px;
        margin: 0;
        margin-top: 0;
        padding: 0px;

        h2 {
          font-size: 11px;
          text-align: left;
        }

        .menu-facetado {
          height: 0;
          padding: 0;

          .filtros-faceta {
            height: 200px;
            background: #fff;
            border-bottom: 2px solid #f6f6f6;
            display: none;
          }

          .shopby {
            padding: 40px;
            background: #fff;
            margin-bottom: 0px !important;
            margin-top: 2px;

            .title-sub {
              font-family: Lato;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              font-size: 12px;
              letter-spacing: 0.04em;
              text-transform: uppercase;

              color: #999999;
              margin-bottom: 20px;
              display: block;
            }

            h6,
            a {
              font-family: Lato !important;
              font-style: normal;
              font-weight: normal;
              line-height: normal;
              font-size: 12px;
              letter-spacing: 0.02em;

              color: #000000;
            }
          }

          .wd-facet-group {
            .selected-facets {
              @media screen and(max-width: 768px) {
                display: none !important;
              }

              position: absolute;
              left: 40px;
              top: 0px;
              background: transparent;
              border: 0;

              &.show {
                display: block;
                z-index: 1;

                &::before {
                  content: "";
                  display: none;
                }

                .facet-type-selected {
                  display: flex;
                  flex-direction: row;
                  max-width: 290px;
                  flex-wrap: wrap;

                  .selected-facet {
                    .selected-facet-name {
                      display: none;
                    }

                    border: 0;
                    border-radius: 0;
                    margin: 0;

                    ul {
                      display: flex;
                      padding: 0;
                      flex-direction: column;

                      li {
                        text-align: center;
                        line-height: 25px;
                        color: black;
                        border: 1px solid #ddd;
                        width: 100%;
                        height: 30px;
                        margin-right: 10px;
                        margin-top: 5px;
                        margin-bottom: 0px;

                        text-align: left;
                        padding-left: 5px;

                        span {
                          font-family: Lato;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 15px;
                          font-size: 11px;
                          letter-spacing: 0.02em;

                          color: #666666;

                          &.clear-filter {
                            top: 4px;
                            font-size: 18px;

                            &:hover {
                              color: black;
                            }
                          }

                          &.option-label {
                            text-transform: uppercase !important;
                            text-align: left;
                          }
                        }
                      }
                    }
                  }
                }
              }

              &.hidden {
                display: none !important;
              }
            }
          }

          .shopby {
            margin-bottom: 20px;
          }

          .facetas {
            .option-title {
              font-family: Lato;
              font-style: normal;
              font-weight: normal;
              line-height: normal;
              font-size: 12px;
              letter-spacing: 0.02em;

              color: #000000;
            }

            h2 {
              display: none;
            }

            .expander {
              top: 7px;
            }

            .facets {
              div:last-of-type {}

              .facet-type:nth-child(1) {
                border-top: 2px solid #f6f6f6;
              }

              .facet-type {
                width: 100%;
                margin: 0;
                border-left: 0px solid black;
                border-right: 0px solid black;
                border-bottom: 2px solid #f6f6f6;
                position: initial;

                &.size {
                  .facet-title.facet-closed~ul {
                    display: none;
                  }

                  ul {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);

                    li {
                      a {
                        span {
                          text-align: center;

                          &.option-title {
                            width: 30px;
                            height: 30px;
                            border: 1px solid black;
                            line-height: 29px;
                          }

                          &.option-count {
                            display: none;
                          }
                        }
                      }
                    }
                  }
                }

                &.cor-faceta {
                  ul {
                    li {
                      a {
                        text-decoration: none;

                        span {
                          &.markup-color {
                            border-radius: 50%;
                            width: 10px;
                            height: 10px;
                            border: none;
                            position: relative;

                            &:before {
                              content: "";
                              border: 1px solid #dfdfdf;
                              width: 15px;
                              height: 15px;
                              position: absolute;
                              border-radius: 100%;
                              left: -2.015px;
                              bottom: -2px;
                            }
                          }

                          &.option-count {
                            display: none;
                          }
                        }
                      }
                    }
                  }
                }

                .facet-type-list {
                  .facet-title {
                    border: 0;
                    background-color: #fff;
                    color: black;
                    padding-top: 18px;
                    padding-left: 40px;

                    h3 {
                      font-family: Lato;
                      font-style: normal;
                      font-weight: 500;
                      line-height: normal;
                      font-size: 12px;
                      letter-spacing: 0.04em;
                      text-transform: uppercase;

                      color: #000000;
                    }

                    &::after {
                      content: "";
                      background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/less-icon.png);
                      background-repeat: no-repeat;
                      display: block;
                      width: 15px;
                      height: 15px;
                      top: 4px;
                      right: -9px;
                    }

                    &.facet-closed {
                      &::after {
                        content: "";
                        background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/more-icon.png);
                        background-repeat: no-repeat;
                        display: block;
                        width: 15px;
                        height: 15px;
                        top: 0;
                        right: -9px;
                      }
                    }
                  }

                  ul {
                    width: 100%;
                    position: inherit;
                    border: 0;
                    padding-left: 40px;
                    padding-right: 40px;


                    li {
                      padding: 0;
                      background-color: transparent;

                      h4 {
                        text-transform: capitalize !important;

                        a {
                          text-transform: capitalize !important;
                          font-family: Raleway;
                          font-size: 11px;
                          font-weight: 600;
                        }
                      }
                    }
                  }

                }
              }
            }
          }

          .mobile-control {
            #showFacets {
              background-color: white;
              border: 1px solid black;
              color: black;
            }
          }
        }
      }

      .vitrine {
        @media screen and (max-width: 768px) {
          width: 100%;
          padding-left: 0;
        }

        width: calc(100% - 210px);
        float: right;
        clear: none;
        padding-left: 2px;
        padding-top: 0;
        border: 0;

        .wd-browsing-grid-list {
          width: 100%;

          .row {
            border-top: 0px;
            padding-top: 0px;
          }

          header {
            padding-top: 0;
            padding-bottom: 0px !important;
            position: relative;
            z-index: 1 !important;
            height: 110px;
          }

          .wd-header {
            display: none;
          }

          .wd-content {
            .select-grid {
              .five-columns {
                border-left: 1px solid black;
              }

              .selected {
                span {
                  background-color: black;
                }
              }
            }

            .wd-browsing-grid-pager {
              .page-count {
                color: black;
              }

              .page-number {
                display: block;
              }
            }

            .wd-browsing-grid-sorter {
              width: 210px;

              select {
                width: 100%;
                border: 1px solid black;
                outline: none;
                color: black;

                option {
                  color: black;
                }
              }
            }
          }

          ul {
            justify-content: flex-start;

            li:hover {
              box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
            }

            li {
              max-width: 301px !important;
              padding: 40px;
              margin: 1px;
              min-height: 215px !important;

              background: #fff;
              margin-bottom: 0px;
              margin-top: 2px;
              padding-bottom: 0px !important;



              .wd-product-line {
                padding: 0;
                border: 0;

                &:hover {
                  border: 0;
                  box-shadow: none;
                }

                .media .wd-product-line-medias a.thumb img {
                  max-width: 99%;
                  margin: 0 auto !important;
                }
              }

              :hover {
                .floating-actions {
                  a {
                    &.btn-add-product-wishlist {
                      display: block !important;
                    }
                  }
                }
              }

              .item-description {
                padding-top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                align-items: center;

                .brand strong {
                  display: none !important;
                }

                .wd-product-rating {
                  display: none;
                }

                a {
                  strong {
                    display: none !important;
                  }
                }

                h3 {
                  &.name {
                    a {
                      font-family: Raleway;
                      font-size: 13px;
                      font-weight: 600;
                      line-height: 15px;
                      font-family: Lato;
                      font-style: normal;
                      font-weight: normal;
                      line-height: normal;
                      font-size: 12px;
                      text-align: center;
                      letter-spacing: 0.02em;

                      color: #666666;
                    }
                  }
                }

                .wd-product-price-description {
                  .priceContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-content: center;

                    .sale-price span {
                      font-family: Lato;
                      font-style: normal;
                      font-weight: 500;
                      line-height: normal;
                      font-size: 12px;
                      text-align: center;
                      letter-spacing: 0.04em;
                      color: #000000;
                    }

                    .condition {
                      font-family: Lato;
                      font-style: normal;
                      font-weight: 500;
                      line-height: normal;
                      font-size: 10px;
                      text-align: center;
                      letter-spacing: 0.02em;

                      color: #999999;
                    }

                    .percent-off {
                      .list-price {
                        padding-right: 0px;
                      }

                      span {
                        &.off {
                          padding: 7px;
                          font-family: Raleway;
                          font-size: 11px;
                          line-height: 12px;
                          font-weight: 600;
                          left: 10px;
                          
                          background-color: #fff;
                          color: #999;
                          border: 1px solid #dddddd;

                          @media screen and(max-width: 320px) {
                            top: -185px !important;
                          }

                          @media screen and (min-width: 321px) and (max-width: 375px) {
                            top: -225px !important;
                          }

                          @media screen and (min-width: 376px) and (max-width: 425px) {
                            top: -210px !important;
                          }
                          top: -290px !important;
                        }
                      }
                    }

                    .sale-price {

                      .em,
                      span {
                        font-family: Lato;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        font-size: 12px;
                        text-align: center;
                        letter-spacing: 0.04em;
                        color: #000000;
                      }
                    }

                    .condition {
                      span {
                        font-family: Raleway;
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 13px;
                      }
                    }
                  }
                }
              }

              .media {
                .wd-product-line-medias {
                  height: 300px;

                  @media screen and(max-width: 320px) {
                    height: 180px;
                  }

                  @media screen and (min-width: 321px) and (max-width: 375px) {
                    height: 220px;
                  }

                  @media screen and (min-width: 376px) and (max-width: 425px) {
                    height: 255px;
                  }
                }

                .floating-actions {
                  bottom: 10px;
                  left: 0px;
                  padding: 0px;

                  @media screen and(max-width: 425px) {
                    bottom: 0;
                  }

                  button {
                    &.espiar {
                      margin-bottom: 0px;
                      width: 210px;
                      height: 35px;
                      font-size: 0;
                      background: #f2f2f2;

                      @media screen and(max-width: 320px) {
                        width: 80px;
                        height: 25px;
                        left: 15px;
                      }

                      @media screen and (min-width: 321px) and (max-width: 375px) {
                        width: 90px;
                        height: 25px;
                        left: 10px;
                      }

                      @media screen and (min-width: 376px) and (max-width: 425px) {
                        height: 25px;
                        left: 5px;
                      }

                      &::before {
                        content: "Quick Shop";
                        text-transform: uppercase;
                        display: block;
                        font-size: 11px;
                        font-weight: 700;
                        font-family: Raleway;
                        letter-spacing: 0.03em;
                      }
                    }
                  }

                  

                  a {
                    &.btn-add-product-wishlist {
                

                      background-color: white;
                      display: none;

                      top: -240px;
                      right: 15px;
                      background-image: none;
                      width: 35px;
                      height: 35px;
                      transform: scale(1.4);
                      @media screen and(max-width: 425px) {
                        width: 25px;
                        height: 25px;
                        top: -205px;
                        right: 0px;
                      }
                      @media screen and(max-width: 320px) {
                        top: -185px !important;
                      }
                  
                      @media screen and (min-width: 321px) and (max-width: 375px) {
                        top: -225px !important;
                      }
                  
                      @media screen and (min-width: 376px) and (max-width: 425px) {
                        top: -250px !important;
                      }
                      i {
                        color: black;
                      }

                      &:after {
                        @media screen and(max-width: 425px) {
                          left: 5px !important;
                          top: 6px !important;
                        }

                        content: "";
                        display: block !important;
                        background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/icon-wishlist.png?no-cache) !important;
                        background-position: 0 0 !important;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        left: 10px !important;
                        top: 11px !important;
                        position: absolute !important;
                        width: 16px !important;
                        height: 14px !important;
                      }

                      &:hover {
                        background-color: #e6e6e6;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .sby-titulo {
    text-align: left;
    padding-left: 50px;
  }
}

[class*="context-facet-"] {
  .filtros-faceta {
    height: 200px;
    background: #fff;
    border-bottom: 2px solid #f6f6f6;
    display: block !important;
    margin-top: 2px;
  }
}

body {
  &.pesquisa-grid {
    #content {
      .vitrine {
        margin-top: 15px;
      }
    }
  }
}

#showFacets {
  display: none;
}



@media screen and(max-width: 992px) {
  #left {
    width: 0;

    &.active {
      .wd-facet-group {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  }

  #showFacets {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;

    &:after {
      content: " Filtrar";
    }

    &.active {
      width: 80px;
      bottom: initial;
      top: 0;
      background-color: transparent;
    }
  }
}

@media screen and(min-width: 992px) {

  .listagem-conteudo .vitrine .col-lg-3 {
    max-width: 33.2% !important;
    flex: 0 0 33.2%;
  }

  .listagem-conteudo .vitrine .two-columns .col-lg-3 {
    max-width: 50% !important;
    flex: 0 0 50% !important;
  }

  [class*="grid-"] #content-wrapper .listagem-conteudo .vitrine .wd-browsing-grid-list.two-columns ul li.col-lg-3 {
    max-width: 24.5% !important;
    flex: 0 0 25% !important;
  }
}

.texto-footer {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.04em;
  text-align: center;
  color: #666666;
  padding: 0 80px;
}

body {

  &.pesquisa-grid,
  &.grid-products {
    #content {
      .produtos-navegados {
        border-top: 1px solid black;
        padding-top: 50px;

        .history-group .wd-subtitle {
          font-size: 0px;
          text-align: left;
          margin-left: 50px;

          &:before {
            content: "Vistos Recentemente";
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 25px;
            letter-spacing: 0.04em;
            text-transform: uppercase;

            color: #000000;
          }
        }

        .wd-browsing-navigationhistory {
          .wd-product-rating {
            display: none;
          }

          .slick-slide,
          .wd-product-line {
            min-height: 460px;
            background: #fff;
          }

          .slick-slide {
            margin-right: 2px;
          }

          .slick-list {
            margin: 0px !important;
          }

          .slick-slide:hover {
            border: 1.5px solid #ddd;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          }

          .wd-product-line:hover {
            box-shadow: none;
            border: none;
          }

          .item-description {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            align-content: center;

            .priceContainer {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              align-content: center;

              .off {
             
                left: 10px;
                padding: 7px;
                font-family: Raleway;
                font-size: 11px;
                line-height: 12px;
                font-weight: 600;

                background-color: #fff;
                color: #999;
                border: 1px solid #dddddd;
              }
            }
          }

          .btn-add-product-wishlist {
            background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/wishlist.png);
            display: none;
          }

          .slick-slide:hover {
            .btn-add-product-wishlist {
              top: -220px !important;
              display: block;
            }
          }

          .products-list {
            @media screen and(min-width: 426px) and (max-width: 768px) {
              padding: 0 0;
            }

            button {
              &.slick-prev {
                background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/left.png);
                background-repeat: no-repeat;
                background-position: 0 0;
                width: 35px;
                height: 30px;
                left: -65px;

                @media screen and(min-width: 426px) and (max-width: 768px) {
                  display: none;
                }
              }

              &.slick-next {
                background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/right.png);
                background-repeat: no-repeat;
                background-position: 0 0;
                width: 42px;
                height: 30px;
                right: -70px;

                @media screen and(min-width: 426px) and (max-width: 768px) {
                  display: none;
                }
              }
            }
          }

          .wd-product-media-selector {
            ul {
              li {
                &.selected {
                  border: 0;
                  border-bottom: 2px solid black;
                }
              }
            }
          }
        }
      }
    }
  }
}

[class*="context-search-"],
.grid-products,
[class*="context-facet-"],
[class*="context-list-"] {
  .breadcrumb {
    margin-top: 80px;
    padding-left: 0px;
    padding-top: 27px;
    padding-bottom: 28px;
    border-bottom: 0px;
    max-width: 1180px;
    margin: 0 auto;

    .wd-browsing-breadcrumbs {
      padding: 0px;
      max-width: 290px;


      li a,
      .last {
        text-decoration: none !important;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        line-height: 15px;
        font-size: 11px;
        letter-spacing: 0.02em;
        color: #999999;
        max-width: 190px;
        word-wrap: break-word;
      }
    }
  }

  @media screen and(max-width: 768px) {
    .header-grid {
      height: 170px !important;
    }
  }
}

.grid-empty #content-wrapper .no-data {
  text-align: left;
}

.slick-slide {
  border: 2px solid #f6f6f6;
  background: #fff;
  min-height: 430px;

  .wd-product-line {
    border: 0px;
    min-height: 440px !important;
    margin-bottom: 0px;
  }

  .wd-product-line .media .btn-add-product-wishlist {
    top: -220px !important;
    display: none;
  }

  .item-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;

    .wd-product-rating {
      display: none;
    }

    .priceContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;

      .btn-add-product-wishlist {
        top: -250px !important;
      }

      .off {
 
        left: 10px;
        padding: 7px;
        font-family: Raleway;
        font-size: 11px;
        line-height: 12px;
        font-weight: 600;

        background-color: #fff;
        color: #999;
        border: 1px solid #dddddd;
      }
    }
  }
}

[class*="context-category-"] {
  #content {
    margin-top: 135px !important;
  }

  .slick-slide {
    border: 2px solid #f6f6f6;
    background: #fff;
    min-height: 430px;

    .wd-product-line {
      border: 0px;
      min-height: 440px !important;
      margin-bottom: 0px;
    }



    .item-description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      align-content: center;

      .wd-product-rating {
        display: none;
      }

      .priceContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        .off {
        
          left: 10px;
          padding: 7px;
          font-family: Raleway;
          font-size: 11px;
          line-height: 12px;
          font-weight: 600;

          background-color: #fff;
          color: #999;
          border: 1px solid #dddddd;
        }
      }
    }
  }
}


@media screen and(max-width: 768px) {

  #content-wrapper .listagem-conteudo .vitrine .wd-browsing-grid-list ul li {
    margin: -1px !important;
  }

  .vitrine .wd-browsing-grid { 
    .wd-content{
      margin-top: 90px;
    }
    
    .pager-topo .wd-browsing-grid-pager .page-number {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0;
    top: -15px;
  }
  }
  [class*="context-facet-"] {
    #middle {
      margin-top: 50px;
    }

    .header-grid {
      height: 160px !important;
    }

    #content {
      margin-top: 0px !important;
    }

    .slick-slide {
      border: 2px solid #f6f6f6;
      min-height: 430px;
      background: #fff !important;

      .wd-product-line {
        border: 0px;
        min-height: 430px !important;
      }
    }

    .item-description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      align-content: center;
      padding-top: 0px;
      position: relative !important;
      .wd-product-rating {
        display: none;
      }



      .priceContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        .off {
          
          left: 10px;
          padding: 7px;
          font-family: Raleway;
          font-size: 11px;
          line-height: 12px;
          font-weight: 600;

          background-color: #fff;
          color: #999;
          border: 1px solid #dddddd;
        }
      }
    }

    .media-variation-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;

      a {
        border: 1px solid #dfdfdf !important;
        border-radius: 100%;
        width: 18px;
        height: 18px;
        margin-right: 10px;
        position: relative;
      }

      a .thumb {
        border-radius: 100% !important;
        width: 10px;
        height: 10px;
        position: absolute;
        left: 3px;
        bottom: 3px;
      }
    }

    .wd-product-line .media .btn-add-product-wishlist {
      top: -240px;
    }

  }
}


iframe#iframe-modal #content-wrapper {
  .header {

    display: flex !important;
    flex-direction: row !important;
  }

}

body iframe #main #middle {
  margin-top: 85px !important;
}

[class*="context-category-"] [class*="grid-"] #content-wrapper .header-grid {
  padding-top: 40px;
  padding-bottom: 40px;
}


#middle .banners-topo {
  margin-top: -10px !important;
}

[class*="context-search"] #main>#middle,
[class*="context-facet-"] #main>#middle,
[class*="context-list-"] #main> #middle {
  margin-top: 160px !important;

  .breadcrumb {
    margin-top: 0px;
  }
}

body:not(.grid-empty) .wd-browsing-grid {
  width: auto !important;
}

.wd-browsing-grid .wd-header {
  display: none;
}

.wd-browsing-grid.wd-widget {
  max-width: calc(100% - 293px);
}

[class*="context-category-"] [class*="grid-"] #content-wrapper .header-grid,
[class*="grid-"] #content-wrapper .header-grid {
  padding-left: 9% !important;
  padding-right: 6% !important;
}

[class*="grid-"] #content-wrapper .listagem-conteudo .vitrine .wd-browsing-grid-list ul li {
  max-width: 290px !important;
}

[class*="grid-"] #content-wrapper .listagem-conteudo .vitrine .wd-browsing-grid-list {

  margin-left: 3px;
}

[class*="grid-"] #content-wrapper .listagem-conteudo .left .menu-facetado .facetas .facets .facet-type {
  max-width: 293px !important;
  width: 293px !important;
}

.wd-browsing-grid footer {
  background: none !important;
}

@media screen and(max-width: 768px) {
  [class*="grid-"] #content-wrapper .listagem-conteudo .vitrine .wd-browsing-grid-list {
    margin-left: 0px;
  }

  [class*="grid-"] #content-wrapper .listagem-conteudo .vitrine .wd-browsing-grid-list {
    ul li {
      padding: 20px;
    }

    .wd-product-line .media .wd-product-line-medias a.thumb img {
      max-width: 99% !important;
    }
  }

  [class*="context-category-"] [class*="grid-"] #content-wrapper .header-grid {
    height: 255px;
    padding-top: 0px;

    h1 {
      text-align: center !important;
      margin-top: 20px;
    }
  }

  [class*="context-facet-"] [class*="grid-"] #content-wrapper .header-grid {
    h1 {
      text-align: center !important;
      margin-top: 20px;
    }
  }

  [class*="context-category-"] #content {
    margin-top: 80px;
  }

  [class*="context-category-"] [class*="grid-"] #content-wrapper .header-grid {
    padding-bottom: 10px;
  }

  .wd-product-line .item-description .name {
    text-align: center;
  }

  [class*="grid-"] #content-wrapper .listagem-conteudo .vitrine .wd-browsing-grid-list ul li .media .floating-actions button.espiar {
    display: none;
  }

  

}

@media screen and(max-width: 768px) {


  .grid-empty #content-wrapper .no-data {
    text-align: center;
  }

  [class*="grid-"] #content-wrapper .listagem-conteudo {
    .shopby {
      display: none;
    }

    .vitrine .wd-browsing-grid-list ul li {
      border: 1.5px solid #f6f6f6;
      border-bottom: 0px !important;

    }
  }

  .produtos-navegados {
    .history-title:before {
      font-size: 20px !important;
    }
  }

  .vitrine .sby-titulo {
    text-align: center;
    padding-left: 0px;
    font-size: 20px;
  }

  #overlay {
    margin-top: 0px;
    height: 120% !important;
  }

  .HomeRoute #middle #content {
    margin-top: 0px !important;
  }

  .banners-topo {
    display: none;
  }

  .listagem-conteudo.wrapper,
  .produtos-navegados .wrapper {
    padding: 5px;
  }

  .produtos-navegados {
    border-top: 0px !important;
    padding-top: 0px !important;
  }

  .main-bar {
    padding-top: 5px !important;
  }

  .wd-browsing-grid-list ul li {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  [class*="grid-"] #content-wrapper .listagem-conteudo .vitrine .wd-browsing-grid-list ul li {
    padding: 10px;
  }

  .vitrine .wrapper .texto-footer {
    padding: 0 10px;
    text-align: justify;
  }
}

[class*="context-category-"] #middle,
.grid-products #middle {
  margin-top: 170px !important;

  @media screen and(max-width: 768px) {
    margin-top: 170px !important;
  }
}
body[class*="context-product-"] #middle{
  margin-top: 160px !important;
  #content{
    margin-top: 0px !important;
  }
  @media screen and(max-width: 768px) {
    margin-top: 170px !important;
  }
}
body.HomeRoute #middle{
  margin-top: 160px !important;
  @media screen and(max-width: 768px) {
    margin-top: 160px !important;
  }
}

[class*="context-category-"] #content {
  margin-top: 0px !important;
}

.vitrine .wd-browsing-grid {
  .wd-widget {
    overflow: visible;
    position: relative;
  }

  .pager-topo .wd-browsing-grid-pager {
    position: absolute;

    .page-number {
      margin-top: -50px;
      position: absolute;
      width: 300px;
      @media screen and(max-width: 768px) {
      margin-top: -50px;
       width: 100%;
      }
    }

    .page-count {
      display: none;
    }
  }

  .wd-content header {
    display: none !important;
  }
}

.camisas-dudalina{
  #middle.wrapper{
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
    max-width: none;
    background: #f6f6f6;
    margin-bottom: 0px;
    #content-wrapper .wrapper{
      max-width: 1080px;
      width: 100%;
      margin: 0 auto;
      .category-banners{
        margin-bottom: 80px;
        h2{
          margin-bottom: 50px;
        }
      }
    }
  }
}

[class*="grid-"] #content-wrapper .listagem-conteudo .vitrine  .wd-browsing-grid-list.two-columns{
  ul li{
    padding-right: 20px !important;
    padding-left: 20px !important;
    min-height: 490px !important;
    .item-description{
      position: relative !important;
    }
  }
 
button {
  &.espiar {
    margin-bottom: 0px;
    width: 150px !important;
    left: 0;
    height: 35px;
    font-size: 0;
    background: #f2f2f2;
  }
}
}

.vitrine .wd-browsing-grid .wd-widget{
  position: unset;
}
@media screen and(max-width: 768px) {
body #content .new-in .wd-product-list-tabs .wd-content .wd-product-list ul.list li{
  margin-right: 15px;
  margin-left: 15px;
  @media screen and(max-width: 320px) {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  }
}