body[class*="context-product-"] {
    .themodal-overlay {
        .the-modal {
            .close {
                display: block !important;
                top: 90px;
                left: 5px;
                border: 0;
                background-color: transparent;
            }

            .the-modal-container {
                padding: 50px 40px;
                margin-top: 85px;
                width: 520px;
                margin-bottom: 85px;
                border: 0;
            }
        }
    }

   

    #middle {
        background-color: #f6f6f6;
        margin-top: 125px;

        @media screen and(min-width: 426px) and (max-width: 768px) {
            margin-top: 140px;
        }

        #content {
            .sobre-dudalina {
                p {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 17px;
                    font-size: 12px;
                    letter-spacing: 0.04em;
                    text-align: center;
                    margin-bottom: 50px;
                    color: #666;
                }
            }

            .breadcrumb {
                border: 0;
                padding: 12px 0;

                .wd-browsing-breadcrumbs {
                    ul {
                        li {
                            a {
                                font-family: Lato;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 15px;
                                font-size: 11px;
                                letter-spacing: 0.02em;
                                color: #999999;
                                text-decoration: none;
                            }

                            strong {
                                font-family: Lato;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 15px;
                                font-size: 11px;
                                letter-spacing: 0.02em;
                                color: #999999;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .product-detail {
                .head {
                    padding: 0;

                    .row {
                        background-color: white;
                        padding: 40px 40px;

                        @media screen and(max-width: 768px) {
                            padding: 0 0;
                        }

                        .medias {
                            .wd-product-medias {
                                .wd-product-medias-displayer {
                                    @media screen and(min-width: 426px) and (max-width: 768px) {
                                        padding: 0 0;
                                    }

                                    a {
                                        &.control-prev {
                                            background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/control-prev.png);
                                            background-repeat: no-repeat;
                                            background-position: 0 0;
                                            width: 35px;
                                            height: 30px;
                                            left: 0;

                                            @media screen and(min-width: 426px) and (max-width: 768px) {
                                                display: none;
                                            }
                                        }

                                        &.control-next {
                                            background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/control-next.png);
                                            background-repeat: no-repeat;
                                            background-position: 0 0;
                                            width: 35px;
                                            height: 30px;
                                            right: 0px;

                                            @media screen and(min-width: 426px) and (max-width: 768px) {
                                                display: none;
                                            }
                                        }
                                    }
                                }

                                .wd-product-media-selector {
                                    ul {
                                        li {
                                            &.selected {
                                                border: 0;
                                                border-bottom: 2px solid black;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .information {
                            @media screen and(max-width: 425px) {
                                padding-left: 10px;
                            }

                            a {
                                &.brand {
                                    display: none;
                                }
                            }

                            h1 {
                                &.name {
                                    max-width: 360px;
                                    font-family: Lato;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 32px;
                                    font-size: 24px;
                                    letter-spacing: 0.04em;
                                    color: #666666;

                                    @media screen and(min-width: 321px) and (max-width: 424px) {
                                        max-width: 315px;
                                    }

                                    @media screen and(max-width: 320px) {
                                        max-width: 240px;
                                    }
                                }
                            }

                            .wd-product-rating {
                                margin-top: 5px;

                                span {
                                    a {
                                        &:hover {
                                            text-decoration: none;
                                        }

                                        span {
                                            .rating-average {
                                                filter: grayscale(1);
                                            }
                                        }
                                    }
                                }
                            }

                            .sku {
                                display: block;
                                margin-top: 20px;
                            }

                            .wd-product-price-description {
                                border-bottom: 2px solid #f6f6f6;

                                .percent-off {
                                    span {
                                        &.off {
                                            border: 1px solid #dddddd;
                                            background-color: transparent;
                                            width: 75px;
                                            height: 30px;
                                            font-family: Lato;
                                            font-weight: 500;
                                            font-size: 12px;
                                            letter-spacing: 0.04em;
                                            text-transform: uppercase;
                                            color: #999999;
                                            padding-top: 8px;

                                            b {
                                                font-family: Lato;
                                                font-weight: 500;
                                                font-size: 12px;
                                                letter-spacing: 0.04em;
                                                text-transform: uppercase;
                                                color: #999999;
                                            }
                                        }
                                    }

                                    .list-price {
                                        span {
                                            font-family: Lato;
                                            font-size: 12px;
                                            letter-spacing: 0.02em;
                                            text-decoration-line: line-through;
                                            color: #999999;
                                        }
                                    }
                                }

                                .sale-price {
                                    span {
                                        font-family: Lato;
                                        font-size: 20px;
                                        letter-spacing: 0.02em;
                                        color: black;
                                    }
                                }

                                .condition {
                                    span {
                                        font-family: Lato;
                                        font-size: 12px;
                                        letter-spacing: 0.02em;
                                        color: #999999;
                                    }
                                }
                            }

                            .variations {
                                position: relative;

                                a {
                                    &.open-guia-medidas {
                                        position: absolute;
                                        bottom: 40px;
                                        right: 40px;
                                        top: unset;
                                        font-family: Lato;
                                        font-size: 12px;
                                        text-align: center;
                                        letter-spacing: 0.02em;
                                        text-decoration-line: underline;
                                        color: #999999;
                                    }
                                }

                                .wd-product-variations {
                                    max-width: 100% !important;
                                    width: 100%;

                                    .variation-group {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        border-bottom: 2px solid #f6f6f6;
                                        height: 90px;
                                        padding-right: 40px;

                                        @media screen and(max-width: 425px) {
                                            padding-right: 20px;
                                        }

                                        b {
                                            &.title {
                                                font-family: Lato;
                                                font-weight: 500;
                                                font-size: 12px;
                                                letter-spacing: 0.04em;
                                                color: #999999;

                                                span {
                                                    &.cor-nome {
                                                        font-family: Lato;
                                                        font-weight: 500;
                                                        font-size: 12px;
                                                        letter-spacing: 0.04em;
                                                        color: #000000;
                                                    }
                                                }
                                            }
                                        }

                                        .options {
                                            display: flex;

                                            label {
                                                position: relative;
                                                border-radius: 100%;
                                                width: 15px;
                                                height: 15px;
                                                min-width: 15px;
                                                border: 0;
                                                margin-left: 20px;
                                                margin-right: 0;

                                                &::after {
                                                    position: absolute;
                                                    top: -5px;
                                                    left: -5px;
                                                    border-radius: 100%;
                                                    display: block;
                                                    content: "";
                                                    width: 25px;
                                                    height: 25px;
                                                    background-color: transparent;
                                                    border: 0.5px solid #ddd;
                                                }

                                                &.selected {
                                                    &::after {
                                                        position: absolute;
                                                        top: -7px;
                                                        left: -7px;
                                                        border-radius: 100%;
                                                        display: block;
                                                        content: "";
                                                        width: 29px;
                                                        height: 29px;
                                                        background-color: transparent;
                                                        border: 2px solid black;
                                                    }
                                                }

                                                span {
                                                    b {
                                                        &.option-text {
                                                            display: none !important;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .subvariation-group {
                                        margin-top: 30px;
                                        margin-bottom: 30px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;

                                        b {
                                            &.title {
                                                font-family: Lato;
                                                font-weight: 500;
                                                font-size: 12px;
                                                letter-spacing: 0.04em;
                                                color: #999999;
                                                text-transform: uppercase;
                                            }
                                        }

                                        .options {
                                            margin-left: 10px;
                                            max-width: 370px;
                                            width: 100%;

                                            label {
                                                min-width: 35px;
                                                height: 35px;
                                                border: 1px solid #dddddd;
                                                position: relative;

                                                &.selected {
                                                    background: white;
                                                    border-bottom: 2px solid black;

                                                    .option-text {
                                                        color: black;
                                                    }
                                                }

                                                .option-text {
                                                    display: flex;
                                                    justify-content: center;
                                                    position: relative;
                                                    left: 0;
                                                    top: -4px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .buy {
                                .buy-box {
                                    margin-right: 40px;

                                    @media screen and(max-width: 425px) {
                                        margin-right: 10px;
                                    }

                                    .wd-buy-button {
                                        button {
                                            height: 50px;
                                            font-weight: 600;
                                            line-height: 25px;
                                            font-size: 14px;
                                            text-align: center;
                                            letter-spacing: 0.04em;
                                            font-family: Lato;
                                        }
                                    }
                                }

                                .wd-product-wishlist {
                                    display: block;
                                    position: absolute;
                                    top: 3px;
                                    right: 0px;

                                    button {
                                        border: 0;
                                        background: transparent;
                                        filter: invert(80%);

                                        &:hover {
                                            background: transparent;
                                            text-decoration: none;
                                            font-size: 0;
                                        }
                                    }
                                }
                            }

                            .delivery {
                                .wd-product-deliveryfee {
                                    padding-right: 40px;

                                    @media screen and(max-width: 425px) {
                                        padding-right: 10px;
                                    }

                                    form {
                                        .input-wrapper {
                                            display: flex;
                                            justify-content: space-between;

                                            label {
                                                font-family: Lato;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 16px;
                                                font-size: 12px;
                                                letter-spacing: 0.02em;
                                                color: #999999;

                                                @media screen and(min-width: 426px) and (max-width: 768px) {
                                                    display: none;
                                                }
                                            }

                                            input {
                                                font-family: Lato;

                                                @media screen and(min-width: 426px) and (max-width: 768px) {
                                                    width: 238px;
                                                }

                                                &.postalcode-masked {
                                                    width: 180px;
                                                    height: 35px;
                                                    outline: none;
                                                    border: 1px solid #dddddd;
                                                }
                                            }

                                            ::placeholder {
                                                color: black;
                                                opacity: 1;
                                            }

                                            :-ms-input-placeholder {
                                                color: black;
                                            }

                                            ::-ms-input-placeholder {
                                                color: black;
                                            }
                                        }

                                        .button-wrapper {
                                            button {
                                                top: 14px;
                                                margin-right: 35px;

                                                @media screen and(max-width: 425px) {
                                                    top: 13px;
                                                    margin-right: 10px;
                                                }

                                                @media screen and(min-width: 426px) and (max-width: 768px) {
                                                    top: 14px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .description {
                    background-color: white;
                    border: 0;

                    .descriptions {
                        .descriptions-panel {
                            strong {
                                &.title {
                                    font-family: Lato;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 16px;
                                    font-size: 12px;
                                    text-align: center;
                                    letter-spacing: 0.02em;
                                    color: #999999;
                                }
                            }

                            .content {
                                font-family: Lato;
                                font-style: normal;
                                font-weight: normal;
                                line-height: 16px;
                                font-size: 12px;
                                text-align: center;
                                letter-spacing: 0.02em;
                                color: #000000;
                            }
                        }
                    }

                    .expandir {
                        bottom: -30px;

                        &.expanded {
                            i {
                                &.icon {
                                    background-image: url(/Custom/Content/Themes/Shared/Assets/dudalina/Images/seta-up.png?no-cache);
                                    background-position: 0 0;
                                    background-repeat: no-repeat;
                                    width: 15px;
                                    height: 17px;
                                    transform: rotate(0deg);
                                    position: relative;
                                    bottom: 0;
                                }
                            }
                        }

                        a {
                            background: #ffffff;
                            border: 1px solid #dddddd;
                            width: 200px;
                            height: 50px;
                        }

                        i {
                            &.icon {
                                background-image: url(/Custom/Content/Themes/Shared/Assets/dudalina/Images/seta-up.png?no-cache);
                                background-position: 0 0;
                                background-repeat: no-repeat;
                                width: 15px;
                                height: 17px;
                                transform: rotate(180deg);
                                position: relative;
                                bottom: 3px;
                            }
                        }
                    }
                }

                .reviews {
                    background-color: #f6f6f6;
                    border: 0;

                    .wd-product-reviews {
                        .wd-content {
                            .header {
                                .title {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    align-content: center;
                                    align-items: center;

                                    h2 {
                                        font-family: Lato;
                                        font-size: 25px;
                                        letter-spacing: 0.04em;
                                        text-transform: uppercase;
                                        color: #000000;
                                        margin-bottom: 7px;
                                        margin-right: 10px;
                                    }
                                }

                                .review-create {
                                    border: 1px solid #dddddd;
                                    font-size: 0px;
                                    width: 180px;
                                    height: 50px;

                                    &:before {
                                        content: "Escrever Avaliação";
                                        font-size: 11px;
                                        line-height: 25px;
                                    }
                                }
                            }

                            span {
                                &.no-data {
                                    font-family: Lato;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 18px;
                                    font-size: 14px;
                                    letter-spacing: 0.02em;
                                }
                            }
                        }
                    }

                    .wd-list-reviews-itens {
                        background: #fff;
                        margin-top: 50px;
                        padding: 0px;

                        .rating-attributes {
                            border-left: 0px;
                        }
                    }

                    .wd-review-item .row {
                        position: relative;

                        .col.col-md-6.col-12 {
                            position: absolute;

                            @media screen and(max-width: 425px) {
                                position: relative;

                                ul {
                                    margin-left: 40px;
                                    display: flex;
                                    flex-direction: column;
                                }
                            }
                        }
                    }

                    .wd-review-item.row {
                        padding: 0px;

                        .col.col-lg-3 {
                            border-right: 2px solid #f6f6f6;
                            padding-top: 30px;
                        }

                        .col.col-lg-9 {
                            padding-top: 30px;
                            padding-bottom: 30px;
                        }
                    }

                    .wd-review-text {
                        background: #fff;
                        padding-left: 40px;
                        padding-right: 30px;

                        .wd-review-title {
                            font-family: Lato;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 18px;
                            font-size: 14px;
                            letter-spacing: 0.02em;
                            color: #000000;
                        }

                        q {
                            font-family: Lato;
                            font-style: normal;
                            font-weight: normal;
                            line-height: 17px;
                            font-size: 12px;
                            letter-spacing: 0.02em;
                            color: #000000;
                        }
                    }

                    .author {
                        position: absolute;
                        left: 90px;
                        bottom: -150px;

                        .figure {
                            display: none;
                        }

                        .person {
                            font-family: Lato;
                            font-style: normal;
                            font-weight: normal;
                            line-height: 16px;
                            font-size: 12px;
                            text-align: right;
                            letter-spacing: 0.03em;
                            color: #666666;
                        }
                    }
                }

                .recommended-for-you {
                    margin-top: 50px;
                    margin-bottom: 50px;
                    border: 0;

                    .wd-browsing-product-carousel {
                        .wd-header {
                            text-align: left;
                            margin-bottom: 50px;

                            .wd-title {
                                font-family: Lato;
                                font-style: normal;
                                font-weight: normal;
                                line-height: normal;
                                font-size: 25px;
                                letter-spacing: 0.04em;
                                text-transform: uppercase;
                                color: #000000;
                            }
                        }

                        .wd-content {
                            a {
                                &.jcarousel-control-prev {
                                    background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/control-prev.png);
                                    background-repeat: no-repeat;
                                    background-position: 0 0;
                                    width: 35px;
                                    height: 30px;
                                    left: 0;
                                    top: 50%;

                                    @media screen and(max-width: 425px) {
                                        width: 25px;
                                        height: 15px;
                                        background-size: contain;
                                    }

                                    svg {
                                        display: none;
                                    }
                                }

                                &.jcarousel-control-next {
                                    background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/control-next.png);
                                    background-repeat: no-repeat;
                                    background-position: 0 0;
                                    width: 35px;
                                    height: 30px;
                                    right: 0px;
                                    top: 50%;

                                    @media screen and(max-width: 425px) {
                                        width: 25px;
                                        height: 15px;
                                        background-size: contain;
                                    }

                                    svg {
                                        display: none;
                                    }
                                }
                            }

                            .wd-product-list {
                                margin: 0 25px;
                                @media screen and(max-width: 425px) {
                                    margin: 0px 15px !important;
                                }

                                ul {
                                    &.list {
                                        background-color: #f6f6f6;

                                        li {
                                            width: 270px;
                                            background-color: white;

                                            .wd-product-line {
                                                margin-bottom: 0;

                                                .wd-product-line-medias {
                                                    a {
                                                        &.thumb {
                                                            max-width: 100%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .vitrine {}
            }
        }

        .recommended-for-you {
            .wd-product-line-medias {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                flex-direction: row;

                .media-variation-list.pages.noselect.variation-type.variation-type-cor {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    flex-direction: row;
                }

                a.variation-item.selected {
                    border: 1px solid rgb(167, 167, 167) !important;
                    border-radius: 100%;
                    width: 18px;
                    height: 18px;
                    margin-right: 10px;
                }

                a.variation-item {
                    border: 1px solid #dfdfdf !important;
                    border-radius: 100%;
                    width: 18px;
                    height: 18px;
                    margin-right: 10px;
                }

                .thumb {
                    border-radius: 100% !important;
                    width: 10px;
                    height: 10px;

                    >.variation {


                        img {
                            max-width: 185px !important;
                            margin: 0 auto;
                        }
                    }

                }



                .variation-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    flex-direction: row;
                }
            }

            .item-description {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                align-content: center;

                a {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 12px;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color: #666666;
                }

                .priceContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-content: center;

                    .sale-price span {
                        font-family: Lato;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        font-size: 12px;
                        text-align: center;
                        letter-spacing: 0.04em;
                        color: #000000;
                    }

                    .condition {
                        font-family: Lato;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        font-size: 10px;
                        text-align: center;
                        letter-spacing: 0.02em;

                        color: #999999;
                    }

                    .off {
                        top: -250px;
                        left: 35px;
                        padding: 7px;
                        font-family: Raleway;
                        font-size: 11px;
                        line-height: 12px;
                        font-weight: 600;

                        background-color: #fff;
                        color: #999;
                        border: 1px solid #dddddd;
                    }
                }
            }

            ul.list li {
                min-height: 450px !important;
                border: 2px solid #f6f6f6;

                .wd-product-line {
                    min-height: 450px !important;
                }
            }

            .wd-product-rating {
                display: none;
            }

            .wd-product-line .wd-product-price-description .list-price {
                padding-right: 0px !important;
            }

            .floating-actions {
                button.espiar {
                    width: 180px !important;
                    border-bottom: 0px;
                }

            }
        }

        .wd-browsing-product-carousel .wd-product-list ul li:hover {
            .media .floating-actions a.btn-add-product-wishlist {
                display: block !important;
                top: -210px;
                right: 30px;
            }
        }

    }
}

.product-detail .produto-flutuante{ 
  
    .button{
    padding-right: 70px;

}}

.product-detail .description .sku{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 20px;
}

.modal-wd-product-reviews {
    .the-modal.opened{
        width: 400px;
    }
    .the-modal-container{
        background: #fff !important;
    }
    .wd-product-reviews .wd-widget{
        padding-right: 100px;
        .review{
            .input-wrapper{
                border: 1px solid #ddd;
            }
            .input-wrapper.captcha{
                border: none;
                .captcha-box{
                   float: left;
                   margin-left: 10%;
                }
               
            }
        }
    }

}


body .camisas {
    #middle{
        
        width: auto !important;
        max-width: none !important;
    }
    .wd-marketing-banner img{
        width: auto;
        height: auto;
      
    }
    .wrapper.row.camisas{
        max-width: 1180px;
        margin: 0 auto;
        .category-banners{
            margin-top: 50px;
        }
    }
  .slick-slide {
    margin: 0 15px;
    height: 200px !important;
    min-height: 350px !important;
   
  }
  .slick-list {
    margin: 0 -15px;
  }
  .slick-track .slick-track { display: none; }
  .wd-marketing-banner{
      position: relative;
      overflow: visible;
      .slick-next{
          position: absolute;
          top: -40px;
         
      }
      .slick-prev{
        position: absolute;
        top: -40px;
        left: 95%;
        z-index: 1;
    }
  }

}