.wd-checkout-basket .detalhes>.grid,
.wd-checkout-basket .detalhes .discount,
.wd-checkout-basket .detalhes .shipping,
.wd-checkout-basket .detalhes .wd-checkout-basket-gift,
.wd-checkout-basket .detalhes .wd-checkout-basket-product-terms {
    margin-bottom: 30px !important;
}

.wd-checkout-basket {
    h2 {
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #000000;
    }
}

button.bt-checkout {
    background-color: #000;
}

.wd-checkout-basket-grid .grid .grid-informations .item {
    border-bottom: 1px solid #ddd !important;
}

.wd-checkout-basket .wd-checkout-basket-discount .vale-compras,
.wd-checkout-basket .wd-checkout-basket-deliveryoptions .delivery-options li {
    border-top: 1px solid #ddd;
}


$base-color: #000;
$font-light: white;
body.EasyCheckoutStep {
    .wd-easy-checkout {
        .header {
            .logo {
                background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/dudalina.png) !important;
                background-size: contain;
                height: 45px;
                background-position: left center;
            }
        }
        .btn-outline {
            color: $base-color;
            .badge {
                background-color: $base-color;
            }
        }
    }
    button:not(.btn-outline),
    a.btn:not(.btn-outline) {
        background-color: $base-color !important;
        background-image: linear-gradient($base-color, shade($base-color, 30%));
        color: $font-light;
    }
    .btn-show-basket,
    a,
    #summary .safe-message {
        color: $base-color;
    }
  
}

body.EasyCheckoutStep .wd-easy-checkout .header .logo{
    background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/dudalina.png) !important;
}