body {
  background-color: white;
  font-family: Lato;
  strong {
    font-family: Lato !important;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  #middle {
    margin-top: 200px;
    @media screen and (max-width: 425px) {
      margin-top: 105px;
    }
    @media screen and(min-width: 426px) and (max-width: 768px) {
      margin-top: 175px;
    }
  }
  #logo-flutuante {
    a {
      display: block;
      background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/logo-reduzida.png);
      background-repeat: no-repeat;
      height: 45px;
      font-size: 0;
      margin: 0 auto;
      width: 30px;
    }
  }
  #logo {
    &.simples {
      @media screen and(max-width: 425px) {
        a {
          display: block;
          background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/logo-reduzida.png);
          background-repeat: no-repeat;
          height: 45px;
          font-size: 0;
          margin: 0;
          background-position-y: 10px;
          width: 30px;
        }
      }
    }
  }
  #logo {
    padding: 0;
    height: 50px;
    top: -10px;
    @media screen and(max-width: 768px) {
      top: 0;
      height: 100%;
    }
    a {
      background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/dudalina.png);
      background-repeat: no-repeat;
      height: 45px;
      font-size: 0;
      margin: 0 auto;
      width: 238px;
      @media screen and(max-width: 320px) {
        background-size: contain;
        margin-left: -8px;
        width: 100%;
        height: 27px;
      }
      @media screen and(min-width: 321px) and (max-width: 375px) {
        background-size: contain;
        margin-left: 0;
        width: 100%;
        height: 27px;
      }
      @media screen and(min-width: 376px) and (max-width: 425px) {
        background-size: contain;
        margin-left: 10px;
        width: 100%;
        height: 27px;
      }
      @media screen and(min-width: 426px) and (max-width: 768px) {
        margin-left: 20px;
        width: 100%;
        height: 45px;
        position: relative;
        top: 0;
      }
    }
  }
  .no-padding {
    * {
      padding: 0 !important;
    }
  }
}
