#footer {
    margin-top: 0px !important;
    >.footer {
        background: #fff;
        .wrapper {
            margin: 0px;
            width: 100%;
            max-width: 100%;
        }
    }
    .footer-middle {
        padding-top: 0px;
        padding-bottom: 25px !important;
        height: 280px;
        @media screen and(max-width: 768px) {
            height: auto;
        }
    }
    .topo-footer {
        min-height: 100px;
        display: flex;
        flex-direction: row;
        padding-left: 9%;
        padding-right: 9%;
        align-items: center;
        align-content: center;
        border-bottom: 2px solid #f2f2f2;
    }
    .newsletter {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        padding: 0px;
        padding-top: 15px;
        .wd-marketing-newsletter form {
            margin-right: 0px;
            @media screen and(max-width: 425px) {
                margin-left: 0;
                .input-wrapper {
                    padding-left: 0 !important;
                    margin-left: 0;
                    button {
                        max-width: 100%;
                    }
                }
            }
        }
        h2 {
            width: 170px;
            margin-top: 0px;
            padding: 0px;
        }
        small {
            margin-top: 0px;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #000;
            margin-top: 0px;
            i {
                padding-left: 15px;
            }
        }
        .frase {
            display: none;
        }
        .input-name-marketing-newsletter {
            display: none;
        }
        .input-email-marketing-newsletter {
            padding-right: 0px;
            label {
                display: none;
            }
            input {
                height: 50px;
                margin-right: 0px;
                display: inline-block;
            }
        }
        .input-button-marketing-newsletter {
            margin-left: 0px;
            padding-left: 10px !important;
            padding-right: 0px;
            button {
                height: 50px;
                font-size: 14px;
                width: 160%;
                max-width: 140px;
                padding-right: 0px;
                padding-left: 0px;
            }
        }
    }
    .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 0px;
        h2 {
            padding: 0px;
            padding-top: 2px;
        }
        h2 small {
            padding: 0px !important;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #000;
            margin-top: 0px;
            @media screen and (max-width: 425px) {
                margin-top: 20px;
            }
            i {
                padding-left: 20px;
            }
        }
        .icons {
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 425px) {
                margin-top: 1em !important;
                justify-content: space-around;
                h2 {
                    border-left: 0 !important;
                    padding: 0.5em !important;
                    padding-top: 0.5em !important;
                    margin-top: 0 !important;
                }
                h2:last-child {
                    border-right: 0 !important;
                }
            }
            h2 {
                border-left: 2px solid #f2f2f2;
                padding: 1em;
                padding-top: 2em;
                margin-top: -13px !important;
            }
            h2:last-child {
                border-right: 2px solid #f2f2f2;
            }
            i {
                font-size: 25px;
                color: #ccc;
            }
            i:hover {
                color: #000;
                cursor: pointer;
            }
        }
    }
    .middle-footer {
        padding-left: 8%;
        padding-right: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: row;
    }
    .cms-page-menu {
        margin-top: 40px;
        h2 {
            margin-top: 0px;
            small {
                margin-top: 0px;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 14px;
                letter-spacing: 0.02em;
                color: #000000;
            }
        }
        ul {
            li {
                &.page-institucional-john-john-politica-de-privacidade {
                    margin-top: 0;
                    @media screen and(max-width: 425px) {
                        margin-top: 35px;
                    }
                }
            }
        }
    }
    .payment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        justify-content: flex-start !important;
        align-content: center;
        padding-top: 0px;
        border-top: 0px;
        padding-right: 0px;
    }
    .shields {
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center;
        align-content: center;
        @media screen and(max-width: 768px) {
            flex-direction: column;
            span {
                margin-bottom: 10px;
            }
        }
        span {
            padding-right: 20px;
        }
    }
    .certificacoes {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        width: 100%;
    }
    .footer-bottom {
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 30px !important;
        padding-bottom: 34px !important;
        height: 90px;
        .copyright {
            text-align: center;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 10px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #707070;
        }
        .creators {
            .logo-core {
                img {
                    width: 170px;
                }
            }
        }
        .plataforma{
            text-align: center;
            
        }
    }
    @media screen and (max-width: 1179px) {
        .footer {
            padding: 0px !important;
        }
        .wrapper {
            padding: 0px !important;
        }
        .payment {
            align-items: center;
        }
        .social {
            justify-content: space-around;
        }
        .icons {
            justify-content: center;
        }
        .cms-page-menu {
            h2 {
                text-align: left;
            }
        }
    }
    @media screen and (max-width: 780px) {
        .cms-page-menu h2 {
            text-align: center !important;
        }
        .cms-page-menu ul {
            text-align: center !important;
        }
        .payment {
            margin-top: 30px;
        }
        .certificacoes {
            padding-left: 13%;
        }
    }
}