header {
  &.nav-up {
    .promo-condicoes {
      display: none;
    }

    .floating {
      .main-bar {
        #logo-flutuante {
          display: none;
        }

        .category-bar {
          &.flutuante {
            display: none;
          }
        }

        #top-search {
          &.flutuante {
            display: none;
          }
        }
      }
    }
  }

  &.nav-down {
    .promo-condicoes {
      display: none;
    }

    .category-bar {
      display: none;
    }

    .floating {
      .main-bar {
       
        padding: 25px 50px 0 50px;
        @media screen and (max-width: 768px) {
          padding: 0px !important;
        }

        #logo-flutuante {
          position: relative;
          top: -5px;
          left: -25px;
          display: block;
        }

        #top-search {
          display: none;

          @media screen and (max-width: 768px) {
            display: block;
          }

          &.flutuante {
            position: relative;
            top: 0;
            display: block;

            .wd-search {
              form {
                input {
                  padding-right: 0;
                }
              }
            }
          }
        }

        .category-bar {
          &.flutuante {
            position: inherit;
            display: block;

            .main-category {
              .wd-category-menu {
                ul {
                  li {
                    height: 47px;

                    .submenu {
                      top: 75px;

                      ul {
                        &.sub-section {

                          li {
                            border-right: 0 !important;

                            ul {
                              &.level-3 {
                                li {
                                  height: auto;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .icons-resume {
          top: 0px;

          @media screen and(max-width: 425px) {
            top: 18px;
          }
        }

        #logo {
          display: none;

          @media screen and(max-width: 768px) {
            display: block;
          }
        }
      }
    }
  }

  .floating {
    .main-bar {
      #logo-flutuante {
        display: none;
      }

      .category-bar {
        &.flutuante {
          display: none;
        }
      }

      #top-search {
        &.flutuante {
          display: none;
        }
      }
    }
  }
}

.nav-up {
  top: -170px !important;
}

header {
  max-height: 140px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 11;

  .icons-left {
    .hamburguer {
      i {
        &.icon {
          filter: invert(100%);
        }
      }
    }
  }

  &.floating {
    &.nav-up {
      .main-bar {
        display: none !important;
      }
    }
  }

  .main-bar {
    padding-bottom: 0px !important;

    &.simples {
      #logo {
        top: 0 !important;

        a {
          margin: 0 !important;
        }
      }

      .page-title-simples {
        top: 5px;
      }

      @media screen and(max-width: 425px) {
        .page-title-simples {
          top: 4px;
        }

        .icons-resume {
          top: 0;

          .ajuda,
          .chat {
            display: none;
          }
        }
      }
    }

    background-color: black;

    @media screen and(max-width: 768px) {
      padding: 15px 15px;
      border-bottom: 0;

      #top-search {
        order: 12;
      }

      .icons-resume {
        order: 11;
      }
    }

    @media screen and(min-width: 726px) and (max-width: 1024px) {
      border-bottom: 0;
    }

    padding: 35px 50px 15px 50px;

    #top-search {
      height: 50px;

      @media screen and(max-width: 768px) {
        height: 100%;
      }

      @media screen and(min-width: 426px) and(max-width: 768px) {
        margin-top: 20px;
      }

      .wd-search {
        height: 25px;

        form {
          position: relative;

          .suggestion-box {
            top: 40px;
            left: -14%;

            @media screen and(max-width: 425px) {
              left: 0;
            }

            .suggestion-box-wrapper {
              max-width: 330px;
              box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
              border: 0;
            }
          }

          input {
            width: 100%;
            max-width: 255px;
            position: absolute;
            height: 30px;
            left: 30px;
            top: -8px;
            outline: none;
            border: 0;
            border-bottom: 1px solid #ffffff;
            background-color: transparent;
            color: white;
            font-family: Lato;

            @media screen and(max-width: 320px) {
              width: 90% !important;
              padding-left: 0;
            }

            @media screen and(min-width: 321px) and (max-width: 425px) {
              width: 92% !important;
              padding-left: 0;
            }

            @media screen and(min-width:426px) and (max-width: 768px) {
              padding-left: 0;
            }
          }

          button {
            left: 0;
            top: 0px;
            background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/search.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 21px;
            height: 21px;
          }

          ::placeholder {
            color: white;
            opacity: 1;
          }

          :-ms-input-placeholder {
            color: white;
          }

          ::-ms-input-placeholder {
            color: white;
          }
        }
      }
    }

    .icons-resume {
      height: 50px;

      @media screen and(min-width: 426px) and (max-width: 768px) {
        padding-top: 13px;
      }

      @media screen and(max-width: 425px) {
        top: 18px;

        .dropdown-cart {
          padding-left: 10px;

          i {
            &.icon {
              height: 60px !important;
            }
          }
        }
      }

      .dropdown-user {
        &:hover {
          &::after {
            position: relative;
            top: 1px;
            content: "";
            display: block;
            width: 22px;
            height: 2px;
            background: white;
          }
        }

        i {
          &.icon {
            position: relative;
            bottom: 1px;
            background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/user.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 22px;
            display: block;
            height: 25px;
          }
        }

        .wd-profile-welcome-shopper {
          line-height: 40px;

          .status-wrapper.shopper-authenticated {
            position: relative;

            &:before {
              content: " ";
              position: absolute;
              top: 50px;
              left: -20px;
              width: 300px;
              border-bottom: 2px solid #f2f2f2;
            }

            a:first-of-type {
              padding-top: 25px;
            }
          }

          .widget-content {
            position: absolute;
            top: 20px;
            left: -91px;
            border: 0;
            padding-top: 10px;

            @media screen and(min-width: 426px) and (max-width: 768px) {
              left: -126px;
            }

            a {
              border: 0;

              &.login {
                border: 1px solid black;
              }

              span {
                &.icon {
                  display: none;
                }
              }
            }
          }
        }
      }

      .dropdown-location {
        &:hover {
          &::after {
            position: relative;
            top: 4px;
            content: "";
            display: block;
            width: 18px;
            height: 2px;
            background: white;
          }
        }

        i {
          &.icon {
            background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/maps.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 24px;
            display: block;
            height: 23px;
          }
        }
      }

      .main-wishlist {
        &:hover {
          &::after {
            position: relative;
            top: 1px;
            content: "";
            display: block;
            left: 2px;
            width: 20px;
            height: 2px;
            background: white;
          }
        }

        i {
          &.icon {
            position: relative;
            bottom: 2px;
            background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/wishlist.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 24px;
            display: block;
            height: 23px;
          }
        }
      }

      .dropdown-cart {
        &:hover {
          &::after {
            position: relative;
            top: 4px;
            content: "";
            display: block;
            width: 18px;
            height: 2px;
            background: white;
          }
        }

        i {
          &.icon {
            background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/bag.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 19px;
            display: block;
            height: 23px;
          }
        }

        span {
          &.basket-size-wrapper {
            background-color: transparent;
            border: 0;
            top: 7px;
            left: 2px;

            span {
              color: white;
            }
          }
        }

        .wd-checkout-basket-summaryheader {
          a {
            span {
              &.title {
                display: none;
              }

              &.arrow {
                display: none;
              }
            }
          }

          &.empty {
            .summaryheader-content {
              .condition {
                display: none;
              }
            }
          }

          .summaryheader-content {
            position: absolute;
            right: -50px !important;
            top: 44px !important;
            left: unset;
            border: 0;
            padding: 20px 0;
            width: 320px;

            .empty-cart {
              p {
                padding: 10px 30px;
                font-family: Lato;
              }
            }

            @media screen and (max-width: 768px) {
              right: -20px !important;
            }

            .wd-header {}

            .wd-content {
              strong {
                margin-left: 30px;
                font-family: Lato;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                font-size: 14px;
                letter-spacing: 0.02em;
                color: #000000;

                span {
                  font-weight: 700;
                }
              }

              ul {
                &.product {
                  border: 0;
                  padding: 15px 30px;

                  li {
                    &.name {
                      width: 195px;
                      padding: 10px 0 5px 15px;

                      span {
                        &.brand {
                          display: none;
                        }
                      }
                    }
                  }
                }

                &.subtotal {
                  border-top: 2px solid #f2f2f2;
                  padding-top: 0;

                  li {
                    padding: 20px 30px 10px 30px;
                  }
                }
              }

              .condition {
                margin-right: 30px;

                span {
                  font-family: Lato;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  font-size: 12px;
                  text-align: right;
                  letter-spacing: 0.02em;
                  color: #999999;
                }
              }
            }

            .wd-footer {
              padding: 0 30px 0 30px;

              .go-to-basket {
                background-color: transparent;
                border: 1px solid black;
                color: black;
                width: 260px;
                height: 50px;

                &::before {
                  display: none;
                }

                &.produto-finaliza {
                  background-color: black;
                  color: white;
                  border: 0;

                  &:hover {
                    text-decoration: none;
                  }
                }
              }

              .continuar-compra {
                margin-top: 15px;
                background-color: transparent;
                border: 1px solid black;
                color: black;
                width: 260px;
                height: 50px;

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .category-bar {
    min-height: 40px;

    .main-category {
      .wd-category-menu {
        .wd-widget{
          height: 45px !important;
        }
        ul {
          &.section {
            li {
              height: 40px;

              h3 {
                height: 40px;
                padding-right: 20px;

                a {
                  cursor: pointer;
                  line-height: normal;
                  position: relative;
                  padding: 3px;
                  font-family: Lato;
                  font-size: 15px;
                  text-align: center;
                  letter-spacing: 0.04em;
                  text-transform: uppercase;

                  &:hover {
                    text-decoration: none;
                    box-shadow: 0px 8px 0px -4px white;
                  }
                }

                i {
                  display: none;
                }
              }

              .submenu {
                ul {
                  &.sub-section {
                    li {
                      border-right: 0 !important;

                      h4 {
                        a {
                          font-family: Lato;
                          font-style: normal;
                          font-weight: 500;
                          line-height: normal;
                          font-size: 14px;
                          letter-spacing: 0.04em;
                          text-transform: uppercase;
                          color: #000000;
                        }
                      }

                      ul {
                        &.level-3 {
                          li {
                            height: auto;

                            h4 {
                              a {
                                font-family: Lato;
                                font-style: normal;
                                font-weight: normal;
                                line-height: normal;
                                font-size: 14px;
                                letter-spacing: 0.02em;
                                color: #000000;
                                text-transform: capitalize;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .promo-condicoes {
    height: 40px;
    background-color: #44bdd7;
    display: flex;
    align-items: center;
    justify-content: center;

    .parcelamento,
    .desconto {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      border-right: 1px solid black;

      span {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 13px;
        text-align: center;
        letter-spacing: 0.02em;
      }
    }

    .magic {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;

      span {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 13px;
        text-align: center;
        letter-spacing: 0.02em;
      }
    }
  }
}

.category-bar .main-category .section>li:hover .submenu {
  display: flex !important;
  top: 120px;
}

.category-bar .main-category .section>li:hover .submenu {
  display: flex !important;
  max-height: 270px !important;
  padding-top: 20px !important;
}

.category-bar .main-category .section>li:hover .sub-section {
  display: flex !important;
}

.category-bar .main-category .section>li:hover .sub-section>li {
  border-right: 0px !important;
  display: flex;
  flex-direction: column;
}

.category-bar .main-category .categorias {
  border-right: 0px !important;
  display: flex;
  flex-direction: column;
}

.category-bar .main-category .section .submenu {
  padding: 0px !important;
  padding-top: 40px !important;
  padding-bottom: 40px !important;

  .sub-section li {
    margin-top: 0px;
    padding: 0px !important;
  }
}

header .category-bar .main-category .wd-category-menu ul.section .categorias {
  display: flex;
  flex-direction: row;
  padding: 0px !important;

  .title-sub {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #999999;

  }

  h6 {
    margin-top: 5px;
    margin-bottom: 5px;

    a {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.02em;

      color: #000000;
      text-transform: capitalize;
    }
  }
}





.shop-by {
  margin-top: 0px;
  padding-right: 0px !important;

  .title-sub {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #999999;
  }

  h6 {
    margin-top: 5px;
    margin-bottom: 0px;

    a {
      margin-top: 20px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.02em;

      color: #000000;
      text-transform: capitalize;

      .icon {
        display: none;
      }
    }
  }
}

.category-bar .wd-category-menu .wd-header {
  display: none;
}

header.nav-down .floating .main-bar .category-bar.flutuante .main-category .wd-category-menu ul li .submenu {
  top: 75px !important;
  height: 369px;
}

.wd-category-menu .section li .submenu .col-banners img {
  padding: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.wd-category-menu .section li:first-of-type {
  display: none;
}

.hamburguer .section {
  li {
    .title-sub {
      font-weight: 800;
      padding-bottom: 50px;
    }

    a {
      text-align: left !important;
      padding-left: 20px;
    }
  }
}

.hamburguer .section .new-in .categorias {
  .col-lg-4 {
    text-align: left !important;
  }
}

header.nav-down .floating .main-bar #top-search.flutuante .wd-search form input {

  max-width: 150px;
  padding-left: 0px;
}
header.nav-down .floating .main-bar #top-search.flutuante{
  margin-left: -50px;
}

header .category-bar .main-category .wd-category-menu ul.section li h3 a {

  font-size: 14px !important;
}

header.nav-down .floating .main-bar {

  padding: 25px 0px 0 40px;
}

body #logo-flutuante a{
  margin-left: 30px !important;
}

header .category-bar .main-category .wd-category-menu ul.section li h3{
padding-right: 40px;

}

#top-categories .category-bar .main-category .section{

  padding-left: 35px;
}

header .main-bar #top-search .wd-search form input{
  padding-left: 0px;
}

header .category-bar .main-category .wd-category-menu ul.section > li {
  height: 30px !important;
}

header .main-bar{
  padding: 25px 50px 0px 50px !important;
  @media screen and (max-width: 768px) {
    padding: 0px !important;
  }

}
#header .promo-condicoes.no-desktop {
  display: none !important;
  @media screen and(max-width: 768px) {
      display: block !important;
  }
}
#header .promo-condicoes.no-small {
  display: flex !important;
  @media screen and(max-width: 768px) {
      display: none !important;
  }
}

body #header .promo-condicoes.no-desktop{
  display: none !important;
  @media screen and(max-width: 768px) {
      display: block !important;
  }
}

#header.nav-down #top-categories .main-category .section{
  display: flex;
  justify-content: center;
  .submenu{
    top: 65px !important;
  }
}