.HomeRoute {
    .media-variation-list {
        display: none;
    }

    .wrapper-fullbanner {
        .col {
            padding: 0px;
        }

        .wd-marketing-banner:not(.menu-oferta) img {
            width: 100%;
        }
    }

    #middle {
        background-color: #f6f6f6;
    }

    .wd-marketing-banner {
        height: auto;
    }

    .wd-marketing-banner {
        #botao-menos-banners {
            span {
                background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/control-prev.png);
                background-repeat: no-repeat;
                background-size: 62%;
                height: 45px;
                display: block;
                font-size: 0;
                margin: 0 auto;
                width: 63px;
                position: absolute;
                top: 48%;
                left: 46px;
                filter: invert(100%);
                cursor: pointer;

                @media screen and(max-width: 425px) {
                    background-size: 40%;
                    left: 20px;
                }
            }
        }

        #botao-mais-banners {
            span {
                background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/control-next.png);
                background-repeat: no-repeat;
                background-size: 65%;
                height: 45px;
                display: block;
                font-size: 0;
                margin: 0 auto;
                width: 63px;
                position: absolute;
                top: 48%;
                right: 20px;
                filter: invert(100%);
                cursor: pointer;

                @media screen and(max-width: 425px) {
                    background-size: 40%;
                    right: -20px;
                }
            }
        }

        ul {
            &.slider-controller {
                display: none !important;
            }
        }
    }

    .must-haves {
        margin-top: 100px;
    }

    .new-in {
        margin-bottom: 100px;
        margin-top: 140px;

        .wd-product-list-tabs {
            .wd-nav .wd-selected a span {
                text-decoration: none;
                box-shadow: 0px 2px 0px 0px black;
            }
        }
    }

    .recomendacoes {
        margin-top: 120px;
    }


    .must-haves,
    .new-in,
    .recomendacoes {

        text-align: center;

        .wd-widget.wd-browsing-product-carousel {
            overflow: unset;

            .wd-header {
                text-align: left;
                margin-bottom: 20px;

                .wd-title {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 25px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    text-align: left;
                    padding-bottom: 40px;
                    position: absolute;
                    left: -50px;
                    top: -40px;
                }
            }

            .wd-content {
                @media screen and(max-width: 425px) {


                    margin-top: 45px;
                }

                a {
                    &.jcarousel-control-prev {
                        background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/control-prev.png);
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        width: 35px;
                        height: 30px;
                        left: 0;
                        top: 50%;
                        filter: invert(65%);

                        svg {
                            display: none;
                        }
                    }

                    &.jcarousel-control-next {
                        background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/control-next.png);
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        width: 35px;
                        height: 30px;
                        right: -15px;
                        top: 50%;

                        svg {
                            display: none;
                        }
                    }
                }

                .wd-product-list {
                    margin: 0 25px;

                    @media screen and(max-width: 425px) {
                        margin: 0 auto;
                    }

                    ul {
                        @media screen and(max-width: 425px) {
                            margin: 0 9px;
                        }

                        li {
                            .media {
                                .floating-actions {
                                    padding: 0 0;

                                    @media screen and(max-width: 425px) {
                                        display: none;
                                    }

                                    .espiar {
                                        width: 100%;
                                        margin-bottom: 0;
                                        box-shadow: none !important;
                                    }

                                    a {
                                        &.btn-add-product-wishlist {
                                            background-color: transparent;
                                            display: none;
                                            width: 35px;
                                            height: 35px;
                                            background-image: none;
                                            top: -220px;
                                            right: 11px;

                                            i {
                                                color: black;
                                            }

                                            &:after {
                                                content: "";
                                                display: block !important;
                                                background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/wishlist.png?asid) !important;
                                                background-position: 0 0 !important;
                                                background-repeat: no-repeat;
                                                background-size: 100%;
                                                left: 5px !important;
                                                top: 5px !important;
                                                position: absolute !important;
                                                width: 28px !important;
                                                height: 28px !important;
                                                filter: invert(20%);
                                            }

                                            &:hover {
                                                background-color: transparent;
                                            }
                                        }
                                    }
                                }
                            }

                            .item-description {
                                display: none;
                            }
                        }
                    }

                    ul {
                        &.list {
                            background-color: #f6f6f6;

                            li {
                                width: 235px;
                                margin-right: 3px;
                              
                                background-color: white;

                                .wd-product-line {
                                    padding-bottom: 10px;

                                    .media {
                                        .wd-product-line-medias {
                                            a {
                                                &.thumb {
                                                    img {
                                                        height: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &:hover {
                                        .media {
                                            .floating-actions {
                                                a {
                                                    &.btn-add-product-wishlist {
                                                        display: block;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    @media screen and(max-width: 425px) {
                                        padding: 0 0px !important;
                                    }

                                    margin-bottom: 0;

                                    .wd-product-line-medias {
                                        a {
                                            &.thumb {
                                                max-width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .recomendacoes .wd-widget.wd-browsing-product-carousel .wd-header .wd-title{
        left: -12px !important;
    }
    .triplo-banners {
        margin-top: 50px;
        margin-bottom: 0px;

        @media screen and(max-width: 425px) {
            margin-top: 15px;
            margin-bottom: 40px;

            .wd-marketing-banner {
                padding-bottom: 15px;
            }
        }
    }

    .dupla-banners {
        padding-top: 0px;
        padding-bottom: 0px;

        @media screen and(max-width: 425px) {
            padding-top: 15px;
            padding-bottom: 30px;

            .wd-marketing-banner {
                padding-bottom: 15px;
            }
        }
    }

    .vitrine {
        padding-top: 100px;

        #IBY-BASE.container[data-v-3bacece3] {
            width: auto !important;
        }

        .container {
            max-width: 1180px !important;
            width: 1180px !important;
        }

        .sby-titulo {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 25px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            text-align: left;
            padding-bottom: 10px;
            padding-left: 15px;
        }

        .IBY-container.IBY.container {
            margin: 0px !important;
            padding: 0px !important;
            max-width: auto !important;
            width: 100% !important;
        }
    }

    .vitrine:not(.banner) {
        border: 0px;
    }

    .sobre-dudalina {
        p {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            line-height: 17px;
            font-size: 12px;
            letter-spacing: 0.04em;
            text-align: center;
            margin-bottom: 50px;
            color: #666;
        }
    }

    .wd-browsing-product-carousel .wd-content .jcarousel-control-prev {
        //background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/left.png);
        width: 41px !important;
        height: 30px !important;
        top: 43% !important;
        left: -7%;

        @media screen and(max-width: 425px) {
            background-size: 60%;
            left: -12% !important;
        }

        svg {
            display: none;
        }
    }

    .wd-browsing-product-carousel .wd-content .jcarousel-control-next {
        //background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/right.png);
        width: 50px !important;
        height: 30px !important;
        top: 43% !important;
        right: -7%;

        @media screen and (min-width: 321px) and (max-width: 425px) {
            background-size: 60%;
            right: -14% !important;
        }

        @media screen and(max-width: 320px) {
            background-size: 60%;
            right: -24% !important;
        }

        svg {
            display: none;
        }
    }

    .wd-browsing-product-carousel {
        position: relative;
    }

    .category-bar .main-category .section>li:hover .submenu {
        background: #fff !important;
    }

    .banner-slick {
        max-height: 535px;
        position: relative;
        padding: 30px;
        padding-left: 57px;

        .slick-slide {
            margin: 0 25px;
        }

        .slick-list {
            margin: 0 -25px;
        }

        .slick-next {
            background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/control-next.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 35px;
            height: 30px;
            right: 0px;
            top: 50%;
        }

        .slick-prev {
            background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/control-prev.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 35px;
            height: 30px;
            left: 0px;
            top: 50%;
            filter: invert(65%);
            z-index: 10;
        }
    }

    .stories,
    .must-haves {
        margin-top: 100px;

        h2 {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 25px;
            letter-spacing: 0.04em;
            text-transform: uppercase;

            color: #000000;
            float: left;
            margin-bottom: 10px;
            margin-top: 0px;
        }
    }

    .must-haves {
        margin-top: 80px;
    }

    .new-in {
        margin-top: 50px;
    }

    @media screen and(max-width: 768px) {
        #middle .new-in {
            margin-top: 100px !important;
        }

        #middle {
            margin-top: 80px;

            #content {
                margin-top: 0px;
            }
        }

        .recomendacoes {
            margin-top: 50px !important;
        }

        .must-haves {
            margin-top: 80px;
        }


        .must-haves .wd-browsing-product-carousel,
        .recomendacoes .wd-browsing-product-carousel {

            .wd-header {
                margin-bottom: 0px !important;

                .wd-title {
                    left: 0px !important;
                    position: relative !important;
                    text-align: center;
                }
            }

            .wd-content {
                margin-top: 0px !important;
            }
        }

        .vitrine {
            padding-top: 20px;
        }

        .vitrine .sby-titulo {
            text-align: center;
            font-size: 16px;
        }

        .must-haves .wd-widget.wd-browsing-product-carousel .wd-content .wd-product-list ul.list li,
        .new-in .wd-widget.wd-browsing-product-carousel .wd-content .wd-product-list ul.list li,
        .recomendacoes .wd-widget.wd-browsing-product-carousel .wd-content .wd-product-list ul.list li {
            background-color: #f6f6f6 !important;
            border: 0px !important;
            margin-right: 10px;
            margin-left: 0px;
          
            .wd-product-line {
                border: 0px !important;
            }

            img {
                height: auto !important;
                width: 100% !important;
            }
        }

        .wd-product-line .media {
            height: 330px !important;

            .variation {
                min-height: 330px !important;
            }
        }



        .wd-browsing-product-carousel .wd-content .jcarousel-control-prev {
            left: -10% !important;
        }

        .must-haves .wrapper {
            max-height: 400px !important;
            padding: 20px !important;
        }

        .wd-browsing-product-carousel .wd-header .wd-title {
            text-align: center !important;
            font-size: 20px !important;
        }

        .must-haves .wd-browsing-product-carousel .wd-header .wd-title {
            padding-left: 20px;
        }



        .vitrine .sby-titulo {
            font-size: 20px;
        }

        .must-haves .wd-browsing-product-carousel .wd-content .jcarousel-control-next {
            right: -18% !important;

        }

        .recomendacoes .wd-browsing-product-carousel .wd-content .jcarousel-control-next {
            width: 50px !important;
            right: -18% !important;
        }

        .wd-browsing-product-carousel .wd-content .jcarousel-control-prev {
            width: 50px !important;
        }

        .recomendacoes .wrapper {
            padding: 20px;
        }

        .HomeRoute #header .promo-condicoes.no-medium {
            display: block !important;
            max-height: 60px;

            .col-12 {
                text-align: center;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                flex-direction: row;
                height: 60px;
            }

            span {
                font-family: Lato;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-size: 13px;
                text-align: center;
                letter-spacing: 0.02em;
                display: block;

            }

        }

       
    }
}

