@media screen and(max-width: 768px) {
  .hamburguer {
    .dropdown-menu {
      .category-menu-small .wd-category-menu {
        .wd-header {
          display: none;
        }
      }

      .wd-profile-welcome-shopper {
        background: #000;

        a span {
          color: #fff;
        }

        .login:before {
          filter: invert(1);
        }
      }

      .magic-day {
        color: #44bdd7 !important;
      }

      .content .category-menu-small .wd-category-menu .level-1>li {
        border-bottom: 1px solid #eee;

        a {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 14px;
          letter-spacing: 0.04em;
          color: #000000;

          width: 100%;
        }

        h6 {
          border-bottom: 1px solid #eee;
          margin: 0px;
          padding: 5px 0px;

          a {
            text-transform: none;
            line-height: 35px;
          }
        }

        .col-lg-4>.title-sub {
          border-bottom: 1px solid #eee;
        }

        .title-sub {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 14px;
          letter-spacing: 0.04em;
          color: #999999;
          padding: 20px 0px;
          display: block;
        }

        h3 a {
          border: none;
        }
      }

      .submenu {

        .wrapper,
        .sub-section,
        .categorias,
        .categorias .col-lg-4 {
          padding-right: 0px !important;
        }
      }

      .hamburguer-links {
        background: #000;
        padding-left: 50px !important;
        padding-top: 0px !important;

        .condition {
          display: none !important;
        }

        .links {
          a {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            letter-spacing: 0.02em;

            color: #ffffff;
          }
        }
      }

      .title-sub .icon {
        display: block;
        width: 20px;
        height: 20px;
        float: right;
        margin-right: 20px;
        background-image: url("/custom/content/themes/Estoque/Imagens/sprite.png?no-cache");
        background-position: -153px -122px;
        width: 15px;
        height: 8px;
        filter: invert(0.8);
      }

      .rotate {
        transform: rotate(180deg);
      }

      .links {
        display: flex !important;
        flex-direction: column-reverse !important;

        .lojas {
          font-size: 0px !important;
          position: relative;

          &::after {
            content: "Encontre uma loja";
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            letter-spacing: 0.02em;
            color: #ffffff;
          }

          &:before {
            content: "";
            background-image: url("/custom/content/themes/Shared/Assets/dudalina/Images/maps.png");
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 24px;
            display: block;
            height: 23px;
            font-size: 20px;
            float: left;
            position: absolute;
            left: -30px;
            bottom: -5px;
          }
        }

        .chat {
          position: relative;

          &:before {
            content: "";
            background-image: url("/custom/content/themes/Shared/Assets/dudalina/Images/chat.png");
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 24px;
            display: block;
            height: 23px;
            font-size: 20px;
            float: left;
            position: absolute;
            left: -30px;
            bottom: -5px;
          }
        }

        .app,
        .ajuda {
          display: none !important;
        }
      }

      .account {
        .wd-profile-welcome-shopper {
          background: #fff;

          a {
            border-bottom: 1px solid #eee;
          }

          a:last-of-type {
            border-bottom: 10px solid #f2f2f2;
          }

          span {
            color: #000;
          }

          .saudacao {
            background: #000;
            color: #fff;

            &:after {
              filter: invert(1);
            }
          }
        }
      }
    }
  }

  #header {
    .icons-left {
      padding-left: 20px;
    }

    .icons-resume {
      padding-right: 20px;
      margin-bottom: 10px;

      .main-wishlist {
        display: none;
      }
    }

    .main-bar {
      padding: 0px;
    }

    #logo {
      right: -17px;
    }

    #top-search {
      width: 100%;
      background: #fff;
      height: 40px;
      display: block;
      border-bottom: 1px solid #eeeeee;

      .wd-search {
        height: 40px;
      }

      .input-wrapper {
        color: #000 !important;
        margin-top: 13px;
        margin-left: 20px;

        input {
          border-bottom: 0px solid #000;
        }

        .search-field::placeholder {
          color: black !important;
          font-family: Lato;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          font-size: 12px;
          letter-spacing: 0.04em;
          color: #000000;
        }
      }

      button {
        color: #000 !important;
        filter: invert(1) !important;
        margin-left: 20px;
        margin-top: -3px;
      }
    }
  }

  .HomeRoute {
    #header {
      .icons-left {
        padding-left: 20px;
      }

      .icons-resume {
        padding-right: 20px;
        margin-bottom: 10px;

        .main-wishlist {
          display: none;
        }
      }

      .main-bar {
        padding: 0px;
      }

      #logo {
        right: -17px;
      }

      #top-search {
        width: 100%;
        background: #fff;
        height: 40px;

        .wd-search {
          height: 40px;
        }

        .input-wrapper {
          color: #000 !important;
          margin-top: 13px;
          margin-left: 20px;

          input {
            border-bottom: 0px solid #000;
          }

          .search-field::placeholder {
            color: black !important;
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 12px;
            letter-spacing: 0.04em;
            color: #000000;
          }
        }

        button {
          color: #000 !important;
          filter: invert(1) !important;
          margin-left: 20px;
          margin-top: -3px;
        }
      }
    }

    #middle {
      .wrapper-fullbanner {
        min-height: 400px;
        margin-bottom: 35px;

        .wd-marketing-banner {
          min-height: 400px;

          .banner-wrapper,
          img {
            min-height: 460px;
          }
        }
      }

      .triplo-banners {
        .col-12:last-child {
          display: none;
        }

        .wd-marketing-banner {
          min-height: 390px;
          padding-bottom: 35px;

          .banner-wrapper,
          img {
            min-height: 390px;
          }
        }
      }

      .must-haves {
        margin-top: 20px;
        width: 100%;

        h2 {
          margin-bottom: 25px;
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          line-height: 26px;
          font-size: 18px !important;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          text-align: left;
          color: #000000;
          width: 100%;
        }

        .banner-slick-2 {
          min-height: 400px;
          width: 100%;
          padding: 0px;
        }

        .slick-slide {
          margin: 15px;
          height: 400px;
          width: 300px;

          img {
            height: 400px;
          }
        }

        .slick-list {
          margin: -15px;
          min-height: 400px;
        }
      }

      .new-in {
        margin-top: 60px !important;
        margin-bottom: 30px;

        .wd-title {
          margin-bottom: 25px;
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          line-height: 26px;
          font-size: 18px !important;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          text-align: left;
          color: #000000;
          width: 100%;
        }

        .wd-product-list-tabs {
          .wd-header {
            margin-bottom: 0px;
          }

          .wd-content {
            margin-top: 0px;
          }
        }

        .wd-nav {
          display: flex;
          padding-left: 20px;
          justify-content: center;
          align-items: center;
          align-content: center;
          margin-top: 10px !important;

          li {
            padding: 10px;
          }

          li:nth-child(3),
          li:nth-child(4) {
            display: none;
          }

          .wd-title {
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 12px !important;
            text-align: center;
            letter-spacing: 0.04em;
            text-transform: uppercase;

            color: #000000;
          }
        }
      }

      .dupla-banners {
        padding-bottom: 0px;

        .wd-marketing-banner {
          padding-bottom: 35px;
        }
      }

      .stories {
        margin-top: 0px;

        h2 {
          margin-bottom: 25px;
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          line-height: 26px;
          font-size: 18px !important;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          text-align: left;
          color: #000000;
          width: 100%;
        }

        .banner-slick-1 {
          min-height: 400px;
          width: 100%;
          padding: 0px;
        }

        .slick-slide {
          margin: 15px;
          height: 400px;
          width: 300px;

          img {
            height: 400px;
          }
        }

        .slick-list {
          margin: -15px;
          min-height: 400px;
        }
      }

      .recomendacoes {
        margin-top: 80px !important;

        .wd-title {
          margin-bottom: 0px;
          padding-bottom: 0px;
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          line-height: 26px;
          font-size: 18px !important;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          text-align: left;
          color: #000000;
          width: 100%;
        }
      }

      .vitrine {
        .wrapper{
          z-index: 0;
        }
        .sby-titulo {
          margin-bottom: 20px;
          padding-bottom: 0px;
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          line-height: 26px;
          font-size: 18px !important;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          text-align: left;
          color: #000000;
          width: 100%;
        }
      }
    }
  }

  .fake-ordenar {
    
    
    height: 40px !important;
    position: relative;
    padding: 0px;
    z-index: 5;

    .icon {
      background-image: url("/custom/content/themes/Shared/Assets/dudalina/Images/ordenar.png?no-cache");
      width: 25px;
      height: 20px;
    
      margin: 20px;
      position: absolute;
      right: 5px;
      top: -5px;
    }

    .wd-browsing-grid-sorter {
      width: 30px;
      position: absolute;
      right: 0px;
      top: 30px !important;
      color: transparent;
      width: 150px;
      display: none;

      select {
        width: 150px !important;
        height: 150px;
        border: 1px solid #ddd;
      }
    }

  }



  .listagem-conteudo {
    .menu-facetado {
      position: relative;
    }

    #showFacets {
      position: absolute;
      top: -33px;
      left: 20px;
      height: 0px;
      background-color: #f6f6f6 !important;
      border: none !important;
      z-index: 1 !important;
      .icon {
        position: relative;
      }

      &:after {
        content: " ";
        background-image: url("/custom/content/themes/Shared/Assets/dudalina/Images/filtrar.png?no-cache");
        width: 20px;
        height: 18px;
        display: block;
        position: absolute;
        top: 5px;
        left: 10px;
      }

    }

  }

  .header-grid {
    position: relative;
  }

  .HomeRoute #header .promo-condicoes{
    height: 110px !important;
  }

  #showFacets{
    z-index: 2 !important;
  }

  [class*="context-category-"] [class*="grid-"] #content-wrapper .header-grid{
    height: 210px !important;
  }

  [class*="context-search-"] .header-grid {
    height: 210px !important;
  }

  .fake-ordenar .icon{
    top: -8px;

  }
  [class*="grid-"] #content-wrapper .header-grid h1{
    text-align: center;
  }
  .PointOfSaleRoute #content-wrapper .col-md-9{
    padding-right: 0px !important;
  }
 
  .wd-browsing-grid.wd-widget{
    max-width: 100%;
  }
  #footer .footer .middle-footer .cms-page-menu .cms-page.active ul.page-mobile{
    line-height: 25px;
  }
  #footer .footer .middle-footer .cms-page-menu .cms-page.active .wd-page-menu ul{
    margin-left: 5px;
  }

}
@media screen and(max-width: 568px) {
  .wd-browsing-grid.wd-widget{
    padding-left: 16px !important;
  }
  .HomeRoute .wd-browsing-product-carousel .wd-content .jcarousel-control-prev{
    left: -13% !important;
  }
  .HomeRoute .recomendacoes .wd-browsing-product-carousel .wd-content .jcarousel-control-next{
    right: -25% !important;
  }
  body #content .new-in .wd-product-list-tabs .wd-content a.jcarousel-control-prev{
    left: -20% !important;
  }
  body #content .new-in .wd-product-list-tabs .wd-content .wd-product-list ul{
    margin: 0 -17px !important;
  }
  .HomeRoute .recomendacoes .wd-widget.wd-browsing-product-carousel .wd-content .wd-product-list ul{
    margin: 0 -6px !important;
  }
  body #middle{
    margin-top: 160px !important;
  }
  body #footer .footer .topo-footer .sobre-dudalina{
    display: none !important;
  }
  body.HomeRoute #footer .footer .topo-footer .sobre-dudalina{
    display: block !important;
  }
  .ajuda #content-wrapper .wrapper .search {
    padding: 0px;
  }
  .ajuda #content-wrapper .wrapper #duvidas-frequentes .search label {
    padding-top: 20px;
  }
  .AccountAddressRoute .button-wrapper button{
    width: 100%;
  }
  body #middle #content .listagem-conteudo .wd-browsing-grid-list ul li .item-description .wd-product-price-description .priceContainer .percent-off .off{
    top: -230px !important;
    left: 0px;
    @media screen and(max-width: 320px) {
      top: -185px !important;
    }

    @media screen and (min-width: 321px) and (max-width: 375px) {
      top: -225px !important;
    }

    @media screen and (min-width: 376px) and (max-width: 425px) {
      top: -250px !important;
    }
  }
  .wd-browsing-grid .wd-browsing-grid-pager{
    width: 90%;
  }
}

