body {
  &.area-profile {
    #middle {
      margin-top: 80px;

      @media screen and(max-width: 768px) {
        margin-top: 50px;
      }
    }
  }
}

.ajuda {
  #content-wrapper {
    .menu-vertical {
      .entregas {
        i {
          margin-right: 10px;
        }
      }
    }

    .wrapper {
      h1 {
        margin-top: 60px;
        text-align: left;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 25px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #000000;
      }

      .painel-atalho {
        max-width: 1080px;
        margin-left: 4%;

        @media screen and(max-width: 425px) {
          margin-left: 0;
        }

        .row {
          padding: 2px;

          .box:hover {
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
          }

          .box {}
        }
      }

      h2 {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 25px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: left;
        color: #000000;
        margin-bottom: 40px;
      }

      #duvidas-frequentes {
        border-top: 0px !important;
        border-bottom: 0px !important;

        .duvidas ul li {
          margin-bottom: 0px;
        }

        .search label {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 14px;
          letter-spacing: 0.02em;
          color: #000000;
        }
      }

      .search {
        padding-bottom: 10px;
        margin-bottom: 32px;
        padding: 35px;

        &.row {
          background: #fff;
          height: 100px;

          .input {
            @media screen and(max-width: 425px) {
              margin-top: 10px;
            }

            background: #ffffff;
            border: 1px solid #dddddd;
            box-sizing: border-box;
          }
        }
      }

      .menu {
        @media screen and(max-width: 425px) {
          margin-top: 60px !important;
          padding-left: 0 !important;
          padding-right: 15px !important;
        }

        padding-right: 3px !important;
      }

      .duvidas {
        padding-left: 0px !important;
      }

      .duvidas-pedidos,
      .duvidas-trocas-devolucoes,
      .duvidas-entregas,
      .duvidas-outros {
        padding: 0px;
        background: #fff;

        li {
          border-top: 2px solid #f2f2f2;
          padding-left: 43px;
        }

        h3 {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 20px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          padding-bottom: 35px;
          color: #000000;
          padding: 40px;
          margin: 0px;
        }
      }
    }
  }

  #contato {
    .phone a {
      background: #000;
      color: #fff;
    }

    .chat a {
      background: #2da771;
      color: #fff;
    }
  }
}

.LoginRoute {
  .painel-criarconta {
    margin-bottom: 50px;
  }

  #header {
    h1 {
      color: #fff;
      margin-bottom: 20px;
    }

    .links a {
      color: #fff;
    }

    .security {
      i {
        filter: invert(1);
      }
    }
  }
}

#main.sobre-a-dudalina {
  background: #f6f6f6;
}

.sobre-a-dudalina {
  .sobre-a-dudalina-wrapper {
    margin-top: 60px;

    h1 {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 20px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: left;
      padding: 40px;
      color: #000000;
      padding-bottom: 0px !important;
      margin-bottom: 25px;
      padding-top: 40px;
      margin-top: 0px;
    }

    .sobre-a-dudalina {
      padding: 40px;
      padding-top: 0px;

      .conteudo-direita {
        padding-left: 40px;

        @media screen and(max-width: 425px) {
          padding-left: 0;
          margin-top: 10px;
        }

        h4 {
          font-family: Playfair Display;
          font-style: italic;
          font-weight: normal;
          line-height: 29px;
          font-size: 18px !important;
          letter-spacing: 0.02em;
          color: #000000;
          max-width: 250px;
          padding-top: 100px;
          text-transform: initial;
        }

        p {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          line-height: 20px;
          font-size: 14px;
          letter-spacing: 0.02em;
          color: #000000;
        }
      }
    }

    .menu {
      background: #fff;
      margin-right: 2px;
      max-width: 300px;
      max-height: 180px;
      padding: 0px;
    }

    .descricao {
      background: #fff;
      padding: 0px;
      max-width: 870px;
    }
  }

  .menu-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 180px;

    a {
      height: 60px;
      text-align: left;
      padding: 22px 30px;
      border-bottom: 2px solid #f2f2f2;
      text-transform: uppercase;
    }

    .active span {
      box-shadow: 0px 10px 0px -8px #080808;
      padding-bottom: 4px;
      padding-left: 9px;
      padding-right: 8px;
    }

    span {
      padding-left: 9px;
    }
  }

  .como-e-feita {
    border-top: 2px solid #f2f2f2;

    iframe {
      padding-left: 40px;
      padding-bottom: 40px;
    }
  }

  .descricao {
    margin-bottom: 120px;
  }
}

.menu-vertical {
  display: flex;
  flex-direction: column;
  max-height: 100%;

  a {
    height: 60px;
    text-align: left;
    padding: 22px 30px;
    border-bottom: 2px solid #f2f2f2;
    text-transform: uppercase;
    border-left: 0px !important;
    font-family: Lato;
  }

  .active span {
    box-shadow: 0px 10px 0px -8px #080808;
    padding-bottom: 4px;
    padding-left: 9px;
    padding-right: 8px;
    text-decoration: none !important;
    padding-top: 6px;
  }

  span {
    padding-left: 9px;
    padding-top: 10px;
    font-size: 12px !important;
  }

  a:hover {
    text-decoration: none !important;
  }
}

.ContentRoute {
  #content-wrapper {
    .row {
      .col.col-md-3.no-small {
        padding-right: 3px;
      }
    }
  }

  .politica-de-privacidade {
    background: #fff;
    padding: 40px;
    font-family: Lato;

    .politica-de-privacidade {
      padding: 0px;
      font-family: Lato;
    }
  }
}

.PointOfSaleRoute {
  #content-wrapper {}

  .menu-vertical a.active {
    font-family: Lato;
    font-size: 12px;
    padding-left: 20px;
  }

  .menu-vertical a {
    font-family: Lato;
    font-size: 12px;
    padding-left: 20px;
  }
}

.ContentRoute {
  .menu-vertical a.active {
    font-family: Lato;
    font-size: 12px;
    padding-left: 20px;
  }

  .menu-vertical a {
    font-family: Lato;
    font-size: 12px;
    padding-left: 20px;
  }
}

.painel-jasoucliente {
  @media screen and(max-width: 768px) {
    padding-right: 20px !important;
  }
}

.page-account-index #middle #content,
.AccountGiftCertificateRoute #middle #content,
.AccountOrderRoute #middle #content,
.AccountAddressRoute #middle #content,
.AccountRoute #middle #content {
  margin-top: 150px;
  margin-bottom: 50px;
}

.wd-profile-panelmenu nav>ul>li:first-child {
  border-left: none;
}

.wd-profile-panelmenu nav>ul>li:nth-child(4) {
  border-left: none;
  padding-left: 15px;
}

.wd-profile-panelmenu nav .level-1>li {
  border-bottom: 1.5px solid #f2f2f2;
}

.AccountGiftCertificateRoute .wd-profile-panelmenu .level-1 li:nth-child(4) {
  border-left: 5px solid #000 !important;
}

.AccountRoute .wd-profile-panelmenu .level-1>li:nth-child(1), .AccountAddressRoute .wd-profile-panelmenu .level-1>li:nth-child(1) {
  border-left: 5px solid #000 !important;
}


// .pointofsale {
//   display: none !important;
//   border-bottom: 0px !important;
// }

// .DD-loja {
//   display: block !important;
// }

// #pointofsale-list li div:first-of-type {
//   float: left;
// }

// .ReturnOrderRoute #content {
//   margin-top: 150px !important;

// }

// body.sobre-a-dudalina #middle {
//   margin-top: 175px !important;
// }

// .PointOfSaleRoute {

//   #content-wrapper {
//     .row .col {
//       padding: 2px;
//     }

//     .col-md-9 .title {
//       background: #fff;
//       padding: 20px;
//     }
//   }

//   .wd-browsing-pointofsale {
//     .browsing {
//       background: #fff;
//       padding: 20px;

//       form .input-wrapper {
//         select {
//           border: 1px solid #000;
//         }

//         input {
//           border: 1px solid #000;
//         }
//       }
//     }
//   }

//   #pointofsale-list {
//     background: #f2f2f2 !important;
//   }
// }

body .wd-browsing-pointofsale #pointofsale-list .pointofsale .mini-mapa{

  background-color: #DDD;
  height: 150px;
  width: 180px;
  float: right;
  top: 20px;
  position: absolute;
  right: 0;
}

.PointOfSaleRoute #content-wrapper{
  .col-md-3{
    padding-right: 0px;

  }
  .col-md-9{
    padding-left: 2px;
  }
  .title{
    padding: 20px;
    background: #fff;
  }
  .wd-browsing-pointofsale.wd-widget-js{
    padding: 20px;
    background: #fff;
    padding-top: 0px;
  }
  .browsing {
    padding:0 25px;
    border-bottom: 1px solid #ddd;
    .input-wrapper{
      border: 1px solid #ddd;
      
    }
    p{
    padding-left: 0px;
  }
}
}

.wd-profile-panelmenu nav > ul li a.current {
  text-decoration: underline !important;
}

.wd-profile-panelmenu nav > ul li a {
  text-decoration: none;
}

.wd-profile-panelmenu nav > ul li #botao-alterar-senha {
  text-decoration: none !important ;
}

.wd-profile-panelmenu nav > ul li #botao-alterar-senha.current {
  text-decoration: underline !important ;
}

.AccountWishlistRoute {
  background: #f6f6f6;
  #content-wrapper{
    margin-left: none;
    margin-top: 180px;
    margin-left: 0px !important;
    .open-mode-list{
      float: right;  
    }
    .wd-profile-wishlist-manage{
      .wd-title{
        font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
      }
      .wd-content{
        margin-top: 40px;
      }
    }

  }
  #left{
    display: none;
  }
}

.ReturnOrderRoute{
    #content{
      margin-top: 150px;
      margin-bottom: 100px;
      .wd-profile-panelmenu{
        .level-1{
          > li:nth-child(2){
            border-left: 5px solid #000;
          }
        }
      }
    }
}

.AccountAddressRoute{
  .wd-profile-addressform{
    margin-top: 0px;
  }
}


